<h2>Create a new amenity</h2>
<%= form_for @amenity, :url => admin_amenities_path, html: { multipart: true } do |f| %>
  <% if @amenity.errors.any? %>
    <div id="error_explanation">
      <h4><b><%= pluralize(@amenity.errors.count, "error") %> non permettono al form di essere inviato</b></h4>

      <ul>
      <% @amenity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :icon %>
      <%= f.text_field :icon, class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit 'Submit', class: "btn" %>
    </div>
<% end %>
