<h1> All the Coworking Spaces</h1>

<ul>
	<% @coworking_spaces.each do |c| %>
		<li> <span> <%= c.name %> </span> | <span> <%= c.city %> </span> | <a href="<%= c.website %>">Website</a></li>
	<% end %>
</ul>