<h2>Create a new Coworking</h2>
<%= form_for @coworking_space, :url => admin_coworking_spaces_path, html: { multipart: true } do |f| %>
  <% if @coworking_space.errors.any? %>
    <div id="error_explanation">
      <h4><b><%= pluralize(@coworking_space.errors.count, "error") %> non permettono al form di essere inviato</b></h4>

      <ul>
      <% @coworking_space.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :street %>
      <%= f.text_field :street, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :city %>
      <%= f.text_field :city, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :country %>
      <%= f.text_field :country, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :website %>
      <%= f.text_field :website, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit 'Submit', class: "btn" %>
    </div>
<% end %>
