<div class="sign-up-container background-image">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="container user-form-container">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header text-center shadow form-header">
            <h4> Sign Up </h4>
            <div class="social-line">
              <a href="<%= user_google_oauth2_omniauth_authorize_path %>" class="btn sign-up-social"><i class="fa fa-google" aria-hidden="true"></i></a>
              <a href="<%= user_facebook_omniauth_authorize_path %>" class="btn sign-up-social"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="card-block">
            <div class="text-center">
              Or
            </div><br>
            <div class="text-center form-group">
              <%= image_tag "//s3.eu-west-2.amazonaws.com/belooga/Images/placeholder.png", :class => 'user-avatar img-thumbnail' %>
              <%= f.file_field :picture, :class => 'form-control'%>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="field form-group">
                  <%= f.label :name , :class => "mandatory-asterisk"%><br />
                  <%= f.text_field :name, autofocus: true, :class => 'form-control'%>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="field form-group">
                  <%= f.label :email, :class => "mandatory-asterisk" %><br />
                  <%= f.email_field :email, :class => 'form-control'%>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="field form-group">
                  <%= f.label :password, :class => "mandatory-asterisk"%>
                  <%= f.password_field :password, autocomplete: "off", :class => 'form-control'%>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="field form-group">
                  <%= f.label :password_confirmation, :class => "mandatory-asterisk" %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control'%>
                </div>
              </div>
            </div>
            <div class="form-group">
              <%= f.submit "Sign up", :class => 'btn btn-default shadow'%>
            </div>
            <div class="reverse-sign">
              <%= link_to "Already have an account?", new_session_path(resource_name) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>