/* line 1, /Users/andreamac/projects/belooga/app/assets/stylesheets/email.css.scss */
html,
body {
  margin: 0 auto !important;
  padding: 0 !important;
  height: 100% !important;
  width: 100% !important;
}

/* What it does: Stops email clients resizing small text. */
/* line 10, /Users/andreamac/projects/belooga/app/assets/stylesheets/email.css.scss */
* {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* What it does: Centers email on Android 4.4 */
/* line 16, /Users/andreamac/projects/belooga/app/assets/stylesheets/email.css.scss */
div[style*="margin: 16px 0"] {
  margin: 0 !important;
}

/* What it does: Stops Outlook from adding extra spacing to tables. */
/* line 21, /Users/andreamac/projects/belooga/app/assets/stylesheets/email.css.scss */
table,
td {
  mso-table-lspace: 0pt !important;
  mso-table-rspace: 0pt !important;
}

/* What it does: Fixes webkit padding issue. Fix for Yahoo mail table alignment bug. Applies table-layout to the first 2 tables then removes for anything nested deeper. */
/* line 28, /Users/andreamac/projects/belooga/app/assets/stylesheets/email.css.scss */
table {
  border-spacing: 0 !important;
  border-collapse: collapse !important;
  table-layout: fixed !important;
  margin: 0 auto !important;
}

/* line 34, /Users/andreamac/projects/belooga/app/assets/stylesheets/email.css.scss */
table table table {
  table-layout: auto;
}

/* What it does: Uses a better rendering method when resizing images in IE. */
/* line 39, /Users/andreamac/projects/belooga/app/assets/stylesheets/email.css.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* What it does: A work-around for iOS meddling in triggered links. */
/* line 44, /Users/andreamac/projects/belooga/app/assets/stylesheets/email.css.scss */
*[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
}

/* What it does: A work-around for Gmail meddling in triggered links. */
/* line 50, /Users/andreamac/projects/belooga/app/assets/stylesheets/email.css.scss */
.x-gmail-data-detectors,
.x-gmail-data-detectors *,
.aBn {
  border-bottom: 0 !important;
  cursor: default !important;
}

/* What it does: Prevents Gmail from displaying an download button on large, non-linked images. */
/* line 58, /Users/andreamac/projects/belooga/app/assets/stylesheets/email.css.scss */
.a6S {
  display: none !important;
  opacity: 0.01 !important;
}

/* If the above doesn't work, add a .g-img class to any image in question. */
/* line 63, /Users/andreamac/projects/belooga/app/assets/stylesheets/email.css.scss */
img.g-img + div {
  display: none !important;
}

/* What it does: Prevents underlining the button text in Windows 10 */
/* line 68, /Users/andreamac/projects/belooga/app/assets/stylesheets/email.css.scss */
.button-link {
  text-decoration: none !important;
}

/* What it does: Removes right gutter in Gmail iOS app: https://github.com/TedGoas/Cerberus/issues/89  */
/* Create one of these media queries for each additional viewport size you'd like to fix */
/* Thanks to Eric Lepetit (@ericlepetitsf) for help troubleshooting */
@media only screen and (min-device-width: 375px) and (max-device-width: 413px) {
  /* iPhone 6 and 6+ */
  /* line 76, /Users/andreamac/projects/belooga/app/assets/stylesheets/email.css.scss */
  .email-container {
    min-width: 375px !important;
  }
}
/* What it does: Hover styles for buttons */
/* line 82, /Users/andreamac/projects/belooga/app/assets/stylesheets/email.css.scss */
.button-td,
.button-a {
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

/* line 86, /Users/andreamac/projects/belooga/app/assets/stylesheets/email.css.scss */
.button-td:hover,
.button-a:hover {
  background: #555555 !important;
  border-color: #555555 !important;
}

/* Media Queries */
@media screen and (max-width: 600px) {
  /* What it does: Adjust typography on small screens to improve readability */
  /* line 96, /Users/andreamac/projects/belooga/app/assets/stylesheets/email.css.scss */
  .email-container p {
    font-size: 17px !important;
    line-height: 22px !important;
  }
}
