<h1> All the Apartments</h1>

<ul>
	<% @apartments.each do |a| %>
		<li>
			<a href="<%= admin_apartment_path(a) %>"><span> <%= a.name %> </span> | <span> <%= a.city.name %> </span> | <span> <%= a.phone_number %> </span></a>
			<ul>
				<% a.amenities.each do |amenity| %>
					<li> <span> <%= amenity.name %> </span> <i class="<%= amenity.icon %>" aria-hidden="true"></i></li>
				<% end %>
			</ul>
		</li>
	<% end %>
</ul>
