<h2>Create a new Apartment</h2>
<%= form_for @apartment, :url => apartments_path, html: { multipart: true } do |f| %>
  <% if @apartment.errors.any? %>
    <div id="error_explanation">
      <h4><b><%= pluralize(@apartment.errors.count, "error") %> non permettono al form di essere inviato</b></h4>

      <ul>
      <% @apartment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :street %>
      <%= f.text_field :street, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :city %>
      <%= f.text_field :city, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :country %>
      <%= f.text_field :country, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :pictures %>
      <%= file_field_tag "images[]", type: :file, multiple: true %>
    </div>
    <div class="form-group">
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :amenities %>
      <%= f.collection_check_boxes :amenities, Amenity.all, :id, :name do |b| %>
        <div class="collection-check-box">
          <%= b.check_box %>
          <%= b.label %>
        </div>
      <% end %>
    </div>

    <div class="actions">
      <%= f.submit 'Submit', class: "btn" %>
    </div>
<% end %>
