<ul>
	<li> <%= @apartment.name %> </li>
	<li> <%= @apartment.street %> </li>
	<li> <%= @apartment.city.name %> </li>
	<li> <%= @apartment.country %> </li>
	<li> <%= @apartment.name %> </li>
	<li>
		<ul>
			<% @apartment.amenities.each do |amenity| %>
				<li> <span> <%= amenity.name %> </span> <i class="<%= amenity.icon %>" aria-hidden="true"></i></li>
			<% end %>
		</ul>
	</li>
</ul>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
  	<% @apartment.pictures.each do |picture|%>
  		<% if picture.front? %>
	  		<div class="item active">
		      <img src="<%= picture.image.url %>" alt="Chania">
		    </div>
		<% else %>
			<div class="item">
		      <img src="<%= picture.image.url %>" alt="Chania">
		    </div>
		<% end %>
  	<% end %>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
