<div class="row">
    <!-- uncomment code for absolute positioning tweek see top comment in css -->
    <!-- <div class="absolute-wrapper"> </div> -->
    <!-- Menu -->
    <div class="side-menu">

    <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <div class="brand-wrapper">
            <!-- Hamburger -->
            <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Brand -->
            <div class="brand-name-wrapper">
                <%= link_to "Belooga", root_path, :class => 'navbar-brand'%>
            </div>

            <!-- Search -->
            <a data-toggle="collapse" href="#search" class="btn btn-default" id="search-trigger">
                <span class="glyphicon glyphicon-search"></span>
            </a>

            <!-- Search body -->
            <div id="search" class="panel-collapse collapse">
                <div class="panel-body">
                    <form class="navbar-form" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default "><span class="glyphicon glyphicon-ok"></span></button>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- Main Menu -->
    <div class="side-menu-container">
        <ul class="nav navbar-nav">
            <!-- Dropdown-->
            <li class="panel panel-default" id="dropdown">
                <a data-toggle="collapse" href="#dropdown-apartments">
                    <span class="glyphicon glyphicon-book"></span> Apartments <span class="caret"></span>
                </a>
                <!-- Dropdown level 1 -->
                <div id="dropdown-apartments" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="nav navbar-nav">
                            <li><%= link_to "All the Apartments", admin_apartments_path %></li>
                            <li><%= link_to "Create new", new_admin_apartment_path %></li>
                        </ul>
                    </div>
                </div>
            </li>
            <!-- Dropdown end -->
             <!-- Dropdown-->
            <li class="panel panel-default" id="dropdown">
                <a data-toggle="collapse" href="#dropdown-amenities">
                    <span class="glyphicon glyphicon-book"></span> Amenities <span class="caret"></span>
                </a>
                <!-- Dropdown level 1 -->
                <div id="dropdown-amenities" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="nav navbar-nav">
                            <li><%= link_to "All the Amenities", admin_amenities_path %></li>
                            <li><%= link_to "Create new", new_admin_amenity_path %></li>
                        </ul>
                    </div>
                </div>
            </li>
            <!-- Dropdown end -->
            <li class="panel panel-default" id="dropdown">
                <a data-toggle="collapse" href="#dropdown-coworking">
                    <span class="glyphicon glyphicon-book"></span> Coworking Spaces <span class="caret"></span>
                </a>
                <!-- Dropdown level 1 -->
                <div id="dropdown-coworking" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="nav navbar-nav">
                            <li><%= link_to "All the Coworking Spaces", admin_coworking_spaces_path %></li>
                            <li><%= link_to "Create new", new_admin_coworking_space_path %></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <span class="glyphicon glyphicon-off"></span>Log Out
              <% end %>
            </li>
            <!-- Dropdown-->
        </ul>
    </div><!-- /.navbar-collapse -->
  </nav>

</div>
</div>