<footer id="myFooter" style="position: relative;">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 hide-768">
                <h2 class="logo"><a href="#"> <img height=100 src="https://s3.eu-west-2.amazonaws.com/belooga/Images/belooga-no-background.png"> </a></h2>
            </div>
            <div class="col-lg-2 col-sm-3">
                <h5>Get started</h5>
                <ul>
                    <li><a href="<%= root_path %>">Home</a></li>
                    <!-- <li><a href="<%= new_user_registration_path %>">Sign up</a></li> -->
                </ul>
            </div>
            <div class="col-lg-2 col-sm-3">
                <h5>About us</h5>
                <ul>
                    <!-- <li><a href="<%= about_path %>">About</a></li> -->
                    <li><a href="<%= new_feedback_path %>">Contact</a></li>
                    <li><a href="<%= terms_and_conditions_path%>"> T&C </a></li>
                </ul>
            </div>
            <div class="col-lg-5 col-sm-6">
                <div class="social-networks">
                    <a href="https://www.twitter.com/belooga_" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/beloogaapp" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.instagram.com/belooga_" class="instagram"><i class="fa fa-instagram"></i></a>
                </div>
                <%= link_to "Contact", new_feedback_path, :class => 'btn btn-default'%>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>Copyright © <%= Date.current.year %> Belooga </p>
    </div>
    <div class="made-with-love">
        <p>Made with <i class="fa fa-heart" aria-hidden="true"></i> by Nomads for Nomads</p>
    </div>
</footer>