<div class="container-fluid list-container">
	<% if @apartments != []%>
		<% @apartments.each_with_index do |a, index| %>
			<a href="<%= apartment_path(a)%>">
				<div class="card apartment-card shadow">
				   <% if a.home_owner %> 
            	     <img style="height:100px; width: 100px; position: absolute; bottom: 0; right: 0;" src="https://farm5.staticflickr.com/4398/36296947521_2d6f00d98c_o.png"> 
                  <% end %>
				  <% if a.wifi_speed %>
				  	<img src="<%= a.wifi_speed.badge%>" class="rounded-circle wifi-badge shadow">
				  <% end %>
				  <div class="row">
				  	<div class="col-md-5 image-box">
				  		<% if a.pictures != [] %>
				  			<% if a.pictures.first.direct_uri %>
				  				<div style="background: url(<%= a.pictures.first.direct_uri %>);" class="apartment-thumb"></div>
				  			<% else %>
				  				<div style="background: url(<%= a.pictures.first.image.url %>);" class="apartment-thumb"></div>
				  			<% end %>
				  		<% else %>
				  			<div style="background: url(//s3.eu-west-2.amazonaws.com/belooga/Images/image-missing.png);" class="apartment-thumb"></div>
				  		<% end %>
				  	</div>
				  	<div class="col-md-7 text-box">
				  		<h4 class="apartment-name"><%= a.name %></h4>
				  		<span class="apartment-address"><%= a.address %></span>
				  		<h5><span class="badge badge-pill badge-primary" style="margin-top: 15px; text-transform: none;"><%= a.avg_price%>$/month</span></h5>
				  		<ul class="amenities-list">
				  			<% a.amenities.each do |amenity| %>
								<li> <span> <%= amenity.name %> </span> <i class="<%= amenity.icon %>" aria-hidden="true"></i></li>
							<% end %>
				  		</ul>
				  	</div>
				  </div>
				</div>
			</a>
		<% end %>
	<% else %>
		<div class="empty-list text-center" style="margin-top: 30px;">
			<h2 style="text-transform: capitalize;"> OOPS! Looks like there are no apartments matching your search results</h2>
			<script>
				$.ajax({
				  url: "http://api.giphy.com/v1/gifs/search?q=oops&api_key=dc6zaTOxFJmzC",
				  success: function(data){
				  	let gifs = data.data;
				  	var random = Math.floor(Math.random()*gifs.length);
				  	let gifUrl = gifs[random].images.original.url;
				  	console.log(gifUrl);
				  	let html = "<img src="+gifUrl+" style='height: 400px; width:400px;'>"
				  	$('.empty-list').append(html);
				  	console.log(data.data.length);
				  }
				}).done(function() {
				  console.log('done');
				});
			</script>
		</div>
	<% end %>
</div>