<% if cookies[:has_account] %>
    <nav class="navbar navbar-toggleable-md navbar-inverse belooga-navbar">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="<%= root_path %>">
            <img src="//s3.eu-west-2.amazonaws.com/belooga/Images/belooga-beta.png" style="height: 100px;">
        </a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <!--         <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="<%= root_path %>">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul> -->
            <ul class="navbar-nav ml-auto">
                <% if current_user && current_user.admin? %>
                    <%= link_to "admin", "/backoffice", class: "nav-link" %>
                <% end %>
                <li class="nav-item active">
                    <a class="nav-link" href="<%= root_path %>">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="<%= about_path %>">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="<%= new_apartment_path %>">Add A Home</a>
                </li>
                <% if current_user %>
                    <li class="nav-item">
                        <% if current_user.picture %>
                            <img src="<%=current_user.picture.image.url%>" alt="user-profile-picture" class="rounded-circle" style="height: 50px; width: 50px;">
                        <% end %>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <%= current_user.name%>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class => 'dropdown-item') %>
                        </div>
                    </li>
                <% else %>
                    <li class="nav-item">
                        <%= link_to('Login', new_user_session_path, :class => 'nav-link') %>
                    </li>
                <% end %>
            </ul>
        </div>
    </nav>
<% elsif !current_user && Time.now < "2017/08/01" %>
    <nav class="navbar navbar-toggleable-md navbar-inverse belooga-navbar text-center">
        <a class="navbar-brand" href="<%= root_path %>" style="margin: auto;">
            <img src="//s3.eu-west-2.amazonaws.com/belooga/Images/belooga-beta.png" style="height: 100px;">
        </a>
    </nav>
<% else %>
    <nav class="navbar navbar-toggleable-md navbar-inverse belooga-navbar">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="<%= root_path %>">
            <img src="//s3.eu-west-2.amazonaws.com/belooga/Images/belooga-beta.png" style="height: 100px;">
        </a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <!--         <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="<%= root_path %>">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul> -->
            <ul class="navbar-nav ml-auto">
                <% if current_user && current_user.admin? %>
                    <%= link_to "admin", "/backoffice", class: "nav-link" %>
                <% end %>
                <li class="nav-item active">
                    <a class="nav-link" href="<%= root_path %>">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="<%= about_path %>">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="<%= new_apartment_path %>">Add A Home</a>
                </li>
                <% if current_user %>
                    <li class="nav-item">
                        <% if current_user.picture %>
                            <img src="<%=current_user.picture.image.url%>" alt="user-profile-picture" class="rounded-circle" style="height: 50px; width: 50px;">
                        <% end %>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <%= current_user.name%>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class => 'dropdown-item') %>
                        </div>
                    </li>
                <% else %>
                    <li class="nav-item">
                        <%= link_to('Login', new_user_session_path, :class => 'nav-link') %>
                    </li>
                <% end %>
            </ul>
        </div>
    </nav>
<% end %>