<% content_for :head do %>
  <title>Belooga - Digital Nomad Accommdations Made Easy</title>
  <meta name="description" content="Belooga is the first online platform that will help digital nomads in finding a place where to live"/>
  <meta name="keywords" content="Accommdation for digital nomads, digital nomad accommdation, digital nomad apartment"/>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.js"></script>
  <style>
    html, body{
      height: 100%;
    }

    .login-btn{
      text-transform: none; 
      color: #1a3438; 
      background-color: transparent; 
      border-radius: 20px; 
      padding-left: 15px; 
      padding-right: 15px;
      border: 1px solid #0275d8;
      position: absolute;
      z-index: 10;
      right: 15px;
      top: 15px;
      padding-top: 3px;
      padding-bottom: 3px;
    }

    .login-btn:hover{
      text-decoration: none;
      background-color: #0275d8;
      color: white;
    }

    .prelaunch-container .prelaunch-container-background{
      background-image: url(https://images.unsplash.com/photo-1452457779869-0a9ebbbdee99);
      background-size: cover;
      filter: blur(2px);
      -webkit-filter: blur(2px);
      height: 100%;
      width: 100%;
      z-index: 1;
      background-position
    }

    .subtitle{
      font-size: 19px;
    }

    .prelaunch-container{
      height: 100%;
    }

    @media screen and (max-width: 768px) {

    }

    .prelaunch-container img{
      top: 30px;
      left: 0;
      position: absolute;
      margin: auto;
      right: 0;
      z-index: 2;
      padding: 0 10px;
      height: 150px;
    }

    .prelaunch-container h1{
      text-transform: none;
    }

    .content {
      background: rgba(255, 255, 255, 0.55);
      border-radius: 3px;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
      top: 200px;
      left: 0;
      position: absolute;
      margin: auto;
      right: 0;
      z-index: 2;
    }

    .social-share-btns{
      background: white;
      position: absolute;
      z-index: 2;
      bottom: 0;
      width: 100%;
      height: 50px;
    }

    .container-fluid{
      padding: 0;
    }

    @media screen and (max-width: 768px) {
      .content{
        top: 130px;
        /*background: transparent;
        border: none;
        box-shadow: none;*/
        margin-top: 30px;
        padding-top: 0;
      }

      .prelaunch-container h1{
        font-size: 28px
      }      

      .prelaunch-container img{
        height: 100px;
      }
    }

    .navbar.navbar-toggleable-md.navbar-inverse.belooga-navbar{
      display: none;
    }

    #myFooter{
      display: none;
    }
    .ml-button-iframe {
        background-color: transparent !important;
        border: 0px none transparent!important;
        overflow: hidden !important;
        position: fixed !important;
        visibility: visible !important;
        margin: 0px !important;
        padding: 0px !important;
        left: 0px !important;
        top: 0px !important;
        width: 100% !important;
        height: 100% !important;
        z-index: 999999 !important;
        display: none;
    }

    .ml-subscribe-button{
      font-family: 'Raleway', sans-serif !important;
    }

  </style>
<% end %>
<div class="container-fluid prelaunch-container">
  <a class="login-btn" href="<%= new_user_session_path %>">Log In</a>
  <div class="row">
    <div class="col-12 text-center">
      <img src="//s3.eu-west-2.amazonaws.com/belooga/Images/belooga-beta.png">
    </div>
  </div>
  <div class="prelaunch-container-background"></div>
  <div class="row">
    <div class="col-md-6 offset-md-3 content padding">
      <div class="row text-center padding-top">
        <h1> Effortless housing for Digital Nomads.</h1>
      </div>
      <div class="row text-center padding-15">
        <span class="subtitle"> If each one of us would share the homes they stayed at around the world, things would get much easier.</span>
      </div>
      <div class="row mailer-lite-btn-container text-center padding-top">
        <form id="mlb2-5379735" action="//app.mailerlite.com/webforms/popup/m9q1q8" data-code="m9q1q8" data-id="456077" target="_blank" style="margin: auto;">
          <div class="button-preview">
              <button type="submit" class="ml-subscribe-button btn btn-primary padding-15 shadow" style="font-size: 21px; white-space: normal;">Let me know when it goes live</button>
          </div>
        </form>
        <script type="text/javascript" src="//static.mailerlite.com/js/w/button.min.js?v1f0baea18b848a8ab8e485e9a1acc285"></script>
      </div>
      <div class="row padding-top text-center center-block">
        <a href="<%= new_apartment_path %>" class="btn btn-primary padding-15 shadow" style="font-size: 21px; white-space: normal; margin: auto;"> Let me add a home and get early bird access </a>
      </div>
      <div class="row text-center padding-top">
        <div class="addthis_inline_share_toolbox_o5pu" data-url="http://belooga.co" data-title="Sign Up On Belooga" data-description="I just found out about Belooga. Accommodation for Digital Nomads made easy, sign up to get early bird access!" data-media="https://s3.eu-west-2.amazonaws.com/belooga/Images/belooga-no-background.png" style="margin: auto;"></div>
      </div>
      <div class="row text-center">
        <span style="margin: auto;"> - Spread the word - </span>
      </div>
    </div>
  </div>
</div>