<% content_for :head do %>
    <title>Belooga - Digital Nomad Accommodations Made Easy</title>
    <meta name="description" content="Belooga is the first online platform that will help digital nomads in finding a place where to live"/>
    <meta name="keywords" content="Accommodation for digital nomads, digital nomad accommodation, digital nomad apartment"/>
  <% end %>
  <div class="container-fluid hero-container home-hero parallax">
    <div class="container hero-content">
      <div class="row">
        <div class="col-12">
          <% if current_user %>
            <h1> WELCOME BACK <%= current_user.name %></h1>
          <% else %>
            <h1 class="text-center hero-header">Accommodation FOR DIGITAL NOMADS MADE EASY WITH <span class="belooga-header">BELOOGA!</span></h1>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class=" col-12 btn-stripe">
          <div class="row">
            <div class="col-lg-3 offset-lg-2 col-md-12">
              <button type="button" class="btn btn-hg btn-white-border" data-toggle="modal" data-target="#city-modal">
                <i class="fa fa-search" aria-hidden="true"></i> Browse Homes
              </button>
            </div>
            <div class="col-lg-3 offset-lg-2 col-md-12">
              <%= link_to new_apartment_path , :class => "btn btn-hg btn-primary" do %>
                <i class="fa fa-plus" aria-hidden="true"></i> Add A Home
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="overlay"></div>
  </div>

  <div class="container-fluid top-picks-container page-section">
    <h2 class='text-center page-section-header'> Latest Added Homes </h2>
      <div class="row">
        <% 6.times do |i| %>
          <% if @apartments[i].pictures != [] %>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="card top-picks-card">
                <% if  @apartments[i].pictures.first.direct_uri %>
                  <div class="top-picks-img" style="background-image: url(<%= @apartments[i].pictures.first.direct_uri %>);"></div>
                <% else %>
                  <div class="top-picks-img" style="background-image: url(<%= @apartments[i].pictures.first.image.url%>);"></div>
                <% end %>
                <h3 class="text-center"> <%= @apartments[i].city.name if @apartments[i].city.name %> </h3>
                <div class="cta-holder text-center">
                  <a href="<%= apartment_path(@apartments[i])%>">
                    <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
                  </a>
                </div>
                <div class="apt-meta text-center">
                  <span> <%= @apartments[i].name.capitalize %> </span><br>
                  <span> <%= @apartments[i].avg_price %>$/month </span>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
  </div>
  <div class="container all-cities-container page-section">
    <h4 class="text-center page-section-header"> Our spotters have added homes in <%= @cities.length %> different cities, and counting. </h2>
    <div class="row padding-top">
      <% @cities[0..11].each do |city| %>
        <div class="col-lg-4 text-center padding-bottom">
          <a href="<%= apartments_path(city: city)%>" style="font-size: 19px; color: #353535;"> <span> <%= city.capitalize %> </span> </a>
        </div>
      <% end %>
    </div>
  </div>
  <div class="container-fluid page-section made-easy-container">
    <h2 class="text-center"> Why Belooga </h2>
    <div class="overlay"></div>
  </div>
  <div class="info-cards card-deck">
    <div class="col-lg-4 col-md-12 text-center">
      <div class="card text-center invisible">
        <img src="//s3.eu-west-2.amazonaws.com/belooga/Images/community.png" class="card-img-top">
        <div class="card-block">
          <h4 class="card-title">Community</h4>
          <p class="card-text">Digital nomad? Backpacker? Perpetual traveler? Then, Belooga is made for You! If you Stay in one place too long for normal hotels And too short for normal term rentals, Belooga is for you!</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 text-center">
      <div class="card text-center invisible">
        <img src="//s3.eu-west-2.amazonaws.com/belooga/Images/upload.png" class="card-img-top">
        <div class="card-block">
          <h4 class="card-title">Help Others</h4>
          <p class="card-text">Did you Just find A hidden gem in Chiang Mai? Or perhaps a beautiful villa In Bali? Let the community know by spotting the place on Belooga! The community will never be able to thank you enough!</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 text-center">
      <div class="card text-center invisible">
        <img src="//s3.eu-west-2.amazonaws.com/belooga/Images/search.png" class="card-img-top">
        <div class="card-block">
          <h4 class="card-title">Accommodation Made Easy</h4>
          <p class="card-text">About to move to Cran Canaria? Take a look at what other nomads have spotted on Belooga and what they thought of it. Get an idea of the wifi speed in the apartments and get the contact of the landlord!</p>
        </div>
      </div>
    </div>
  </div>
