<% content_for :head do %>
  <title>Belooga - Digital Nomad Accommdations Made Easy</title>
  <meta name="description" content="Belooga is the first online platform that will help digital nomads in finding a place where to live"/>
  <meta name="keywords" content="Accommdation for digital nomads, digital nomad accommdation, digital nomad apartment"/>
<% end %>

<div class="container-fluid parallax half-page-hero about-hero">
  <div class="container hero-content">
    <div class="row">
      <div class="col-12">
        <h1> ABOUT BELOOGA!</h1>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</div>
<div class="container abount-container">
  <div class="row">
    <div class="col-md-9 offset-md-1 shadow about-text text-center">
      <p>
        As a <strong>Digital Nomad</strong>, you spend a good portion of your life looking for accommodation. 
      </p>
      <p>
        Sometimes it’s easy, and sometimes it’s not.
      </p>
      <p>
        Looking for the best prices, coolest locations and <strong>fastest wifi </strong>takes some serious time and dedication. 
        But what if you could <strong>tap into the knowledge of nomads</strong> all over the world?
      </p>
      <p>
        Belooga makes finding accommodation easy!
      </p>
      <p>
        Airbnb can be great in some cities, in others you <strong>spend hours</strong> trawling through facebook groups or driving through town on your rented scooter.
      </p>
      <p>
        Belooga makes <strong>finding your next home easy</strong>, with landlord contact details, wifi speeds, and places to work from closeby.
        Discover accommodation tried and tested by the digital nomad community, and contribute to the platform!
      </p>
      <p>
        Belooga was born out of <strong>our own</strong> experiences as digital nomads. We understand how important it is to find somewhere you can work productively, have all your creature comforts, and connect with your community.
      </p>
      <p>
        We wanted to make life easier so we can all <strong>spend more time enjoying the journey</strong>, rather than planning it.
        Meet the team behind Belooga and get in touch if you have any suggestions, questions or if you want to catch up over a coffee or beer somewhere in the world.
      </p>
      <div class="row meet-the-team-row">
        <div class="col-12 text-center" style="padding-bottom: 30px;">
          <h4> MEET THE TEAM</h4>
        </div>
        <div class="col-lg-4 text-center">
          <div class="row">
            <div class="col-12 meet-the-team-section">
              <a href="https://twitter.com/andrea_munches">
                <div class="meet-the-team-pic" style="background-image: url(https://s3.eu-west-2.amazonaws.com/belooga/Images/andrea-belooga.jpg); background-size: cover; height: 100px; width: 100px; border-radius: 50%; margin: auto;">  
                </div>
              </a>
            </div>
            <div class="col-12 text-center meet-the-team-section">
              <h6> Andrea </h6>
            </div>
            <div class="col-12 meet-the-team-section team-bio">
              Southern Italian. Traveler. Footballer. Boulderer. Serial Eater. He travels to locations where the sun shines and the food makes his Mamma proud. Web developer, creative by definition and digital entrepreneur.
            </div>
          </div>
        </div>
        <div class="col-lg-4 text-center">
          <div class="row">
            <div class="col-12 meet-the-team-section">
              <a href="https://ninahoeberichts.com">
                <div class="meet-the-team-pic" style="background-image: url(https://s3.eu-west-2.amazonaws.com/belooga/Images/IMG_4092_crop.jpg); background-size: cover; height: 100px; width: 100px; border-radius: 50%; margin: auto;">  
                </div>
              </a>
            </div>
            <div class="col-12 text-center meet-the-team-section">
              <h6> Nina </h6>
            </div>
            <div class="col-12 meet-the-team-section team-bio">
              Half-asian Dutchie. Globetrotter. Singer & Songwriter. Foodie. Writer. UX Strategist and Designer, creating the best user experiences imaginable..
            </div>
          </div>
        </div>
        <div class="col-lg-4 text-center">
          <div class="row">
            <div class="col-12 meet-the-team-section">
              <div class="meet-the-team-pic" style="background-image: url(https://s3.eu-west-2.amazonaws.com/belooga/Images/rosanna-belooga.jpg); background-size: cover; height: 100px; width: 100px; border-radius: 50%; margin: auto;">  
              </div>
            </div>
            <div class="col-12 text-center meet-the-team-section">
              <h6> Rosanna </h6>
            </div>
            <div class="col-12 text-center meet-the-team-section team-bio">
              Dutch/ Portuguese wifi junkie, find her wherever the sun DOES shine and try to beat her at Fussball if you dare. Favourite food: All of it. Ah right, and she's been an Online Marketer for 8 years, nomadic since May 2015.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>