<% content_for :head do %>
  <title>Belooga - Digital Nomad Accommdations Made Easy</title>
  <meta name="description" content="Belooga is the first online platform that will help digital nomads in finding a place where to live"/>
  <meta name="keywords" content="Accommdation for digital nomads, digital nomad accommdation, digital nomad apartment"/>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.js"></script>
<% end %>
<div class="contaier padding">
	<div class="row">
		<div class="col-md-12 text-center padding-bottom">
			<i class="fa fa-rocket" aria-hidden="true" style="font-size: 100px;"></i>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center padding-bottom">
			<h1>Thank You!</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center padding-bottom">
			<span><h5 style="text-transform: none;">We're reviewing the home you posted and will send the invitation over very soon!</h5></span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center padding-bottom">
			<span class="padding-bottom"> In the meanwhile, share the love for Belooga on your social media! </span><br>
			<div class="addthis_inline_share_toolbox_o5pu padding-top" data-url="http://belooga.co" data-title="Belooga Early Bird Access" data-description="I've just added a home on Belooga to get early bird access. Why don't you try as well? Accommdation for Digital Nomads has never been this easy." data-media="https://s3.eu-west-2.amazonaws.com/belooga/Images/belooga-no-background.png"></div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var addthis_share = addthis_share || {}
	addthis_share = {
		passthrough : {
			twitter: {
				via: "belooga_",
				text: "I've just added a home on Belooga to get early bird access. Why don't you try as well?",
				url: "http://belooga.co",
				hashtags: "beloogalaunch"
			}
		}
	}
</script>