<% content_for :head do %>
  <title>Belooga - Digital Nomad Accommdations Made Easy</title>
  <meta name="description" content="Belooga is the first online platform that will help digital nomads in finding a place where to live"/>
  <meta name="keywords" content="Accommdation for digital nomads, digital nomad accommdation, digital nomad apartment"/>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.js"></script>
  <style>
    .navbar.navbar-toggleable-md.navbar-inverse.belooga-navbar{
      display: none;
    }
  </style>
<% end %>
<div class="container-fluid belooga-navbar parallax thank-you-hero">
  <div class="container hero-content">
    <div class="row">
      <div class="col-12">
        <h1> Hi <%= current_user.name %>, thank you for joining the Belooga family!</h1>
        <% if User.all.length < 100 %>
        <h2 class="cta"> You are one of our early adopters! Here for you the Founding Member badge, Congrats!</h2>
        <img style="height: 100px; width: auto;"src="https://s3.eu-west-2.amazonaws.com/belooga/Images/founding-member-badge.png">
        <% end %>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</div>
<div class="info-cards card-deck">
  <div class="col-lg-4 col-md-12 text-center">
    <div class="card text-center">
      <img src="//s3.eu-west-2.amazonaws.com/belooga/Images/one.png" class="card-img-top">
      <div class="card-block">
        <h4 class="card-title">Spot</h4>
        <p class="card-text">Did you just spot a hidden gem in Koh Lanta? Upload it to the Belooga and let the community know!</p>
        <a href="<%= new_apartment_path %>" class="btn btn-default thank-you-btn" style="width: 150px;">Start Spotting</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12 text-center">
    <div class="card">
      <img src="//s3.eu-west-2.amazonaws.com/belooga/Images/two.png" class="card-img-top">
      <div class="card-block">
        <h4 class="card-title">Search</h4>
        <p class="card-text">Moving to Lisbon? Check if someone has spotted anything around there. You might be few clicks away from your dream home!</p>
        <a href="<%= apartments_path %>"class="btn btn-default thank-you-btn" style="width: 150px;">Start Searching</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12 text-center">
    <div class="card">
      <img src="//s3.eu-west-2.amazonaws.com/belooga/Images/three.png" class="card-img-top">
      <div class="card-block">
        <h4 class="card-title">Share</h4>
        <p class="card-text">Share Belooga with your friends and help us spreading the word. We want to make accommdations hunting for digital nomads as easy as it can get!</p>
        <span class="thank-you-btn"><div class="addthis_inline_share_toolbox_o5pu"></div></span>
      </div>
    </div>
  </div>
</div>