<div class="container">
	<article id="post-3107" class="post-3107 page type-page status-publish hentry">
					<h1>Terms And Conditions</h1>
<ol type="I">
<li>
<h2>INTRODUCTION</h2>
<p><a name="intro"></a></p>
<p>This User Agreement and Privacy Policy governs each website, mobile site, application, and/or other service, regardless of how distributed, transmitted, published, or broadcast (each, a &#8220;Service&#8221;) provided by Belooga, its parent, subsidiaries and/or affiliates (&#8220;we,&#8221; &#8220;us,&#8221; or &#8220;our&#8221;) that links to this User Agreement and Privacy Policy, which is binding on all those who access, visit and/or use the Service, whether acting as an individual or on behalf of an entity, including you and all persons, entities, or digital engines of any kind that harvest, crawl, index, scrape, spider, or mine digital content by an automated or manual process or otherwise (collectively, &#8220;you&#8221; or &#8220;your&#8221;).</p>
<p>Please read this User Agreement and Privacy Policy carefully. You can access this User Agreement and Privacy Policy any time in the footer of the Service&#8217;s home page or initial screen. Your access, visitation and/or use of the Service, including without limitation any registration on any aspect of the Service, will constitute your agreement to this User Agreement and Privacy Policy. If you do not agree with the terms and conditions of this User Agreement and Privacy Policy, you may not access, visit and/or use the Service.</p>
<p>The User Agreement and Privacy Policy may be modified from time to time; the date of the most recent revisions will appear on this page, so check back often. Continued access of the Service by you will constitute your acceptance of any changes or revisions to the User Agreement and Privacy Policy. If you breach, violate, fail to follow, or act inconsistently with the rules, restrictions, limitations, terms and/or conditions that apply to the Service, whether listed in this User Agreement and Privacy Policy, posted at various points in the Service, or otherwise communicated to users of the Service (collectively, the &#8220;Agreement&#8221;), we may terminate, discontinue, suspend, and/or restrict your account/profile, your ability to access, visit, and/or use the Service or any portion thereof, and/or the Agreement, including without limitation any of our purported obligations hereunder, with or without notice, in addition to our other remedies. In addition, we may curtail, restrict, or refuse to provide you with any future access, visitation, and/or use of the Service. We reserve the right, in addition to our other remedies, to take any technical, legal, and/or other action(s) that we deem necessary and/or appropriate, with or without notice, to prevent violations and enforce the Agreement and remediate any purported violations. You acknowledge and agree that we have the right hereunder to an injunction without posting a bond to stop or prevent a breach or violation of your obligations under the Agreement.</p>
<p>In the event of any conflict or inconsistency between the terms and conditions of this User Agreement and Privacy Policy, and any rules, restrictions, limitations, terms and/or conditions that may be posted at various points in the Service or otherwise communicated to users of the Service, we shall determine which rules, restrictions, limitations, terms and/or conditions shall control and prevail in our sole discretion, and you specifically waive any right to challenge or dispute such determination.</p>
<p>Among other things, the Agreement governs all text, articles, photographs, images, graphics, illustrations, creative, copy, artwork, video, audio, music, podcasts, ringtones, games, trademarks, trade names, service marks, and other brand identifiers, designs, plans, software, source and object code, algorithms, data, statistics, analysis, formulas, indexes, registries, repositories, and all other content, information, and materials (collectively, &#8220;Content&#8221;) available on or through the Service, whether posted, uploaded, transmitted, sent or otherwise made available by us, our licensors, vendors, and/or service providers, or by you, and/or other users or third parties, including any such Content uploaded manually or bookmarked by you and/or other users.</p>
</li>
<li>
<h2>MONITORING AND COMPLAINTS AGAINST OTHER USERS</h2>
<p><a name="monitoring"></a></p>
<ol>
<li>
<h3>Monitoring</h3>
<p>We strive to provide an enjoyable online experience for our users, so we may monitor activity on the Service, including in the social, community and public discussion areas, photo and video galleries, bulletin boards, forums, chats, blogs, personal/job search and other classified ads, and elsewhere, to foster compliance with the Agreement. You hereby specifically agree to such monitoring. Nevertheless, we do not make any representations, warranties or guarantees that: (1) the Service, or any portion thereof, will be monitored for accuracy or unacceptable use, (2) apparent statements of fact will be authenticated, or (3) we will take any specific action (or any action at all) in the event of a challenge or dispute regarding compliance or non-compliance with the Agreement. We generally do not pre-screen Content before it is posted, uploaded, transmitted, sent or otherwise made available on or through the Service by users, so you may be exposed to Content that is opinionated, offensive, and/or inappropriate, including Content that violates the Agreement.</p>
</li>
<li>
<h3>What to Do if You Have a Complaint Against Another User</h3>
<ul type="i">
<li>
<p>Remember that by using the publicly accessible portions of our Service you may be exposed to Content that is opinionated, offensive, and/or inappropriate, including Content that violates the Agreement, but not all of such Content is actionable. We ask that you not use the Service, or lodge complaints against other users, to facilitate a personal dispute. If you have a legitimate complaint about another user, please do the following:</p>
<ul>
<li>
<p><strong>Harassment</strong>: If you have reason to believe that another person is using the Service in a way that is harmful to you (e.g., to impersonate or imitate you, or to stalk, bully, threaten, intimidate or otherwise harass you), we urge you to contact your local authorities, or appropriate state or federal agencies.</p>
</li>
<li>
<p><strong>Copyright Complaints</strong>: If you have reason to believe that your Content has been copied and/or is accessible on the Service in a way that constitutes copyright infringement, or that the Service contains links or other references to another site, application, destination or service that contains Content or activity that infringes your copyright rights, you may notify us as described below in the section entitled <a href="#copyright-complaint">Copyright Complaints</a>.</p>
</li>
<li>
<p><strong>CyberCrime</strong>: If you have reason to believe you may be the victim of an online crime, such as identity theft, fraud, infringement, or hacking, you may contact the Internet Crime Complaint Center, at <a href="http://www.ic3.gov">www.ic3.gov</a>, a partnership between the Federal Bureau of Investigation (FBI), the National White Collar Crime Center (NW3C), and the Bureau of Justice Assistance (BJA).</p>
</li>
</ul>
</li>
<li>
<p>IMPORTANT: FALSE OR INACCURATE ACCUSATIONS THAT OTHERS HAVE COMMITED A CRIME, INAPPROPRIATE ACT, OR VIOLATION OF THIS AGREEMENT, COULD BE A VIOLATION OF CRIMINAL AND/OR CIVIL LAW, OR OTHERWISE EXPOSE YOU TO LIABILITY FOR DAMAGES (INCLUDING COSTS AND ATTORNEYS&#8217; FEES).</p>
</li>
</ul>
</li>
</ol>
</li>
<li>
<h2>REGISTRATION AND ACCOUNT/PROFILE CREATION</h2>
<ol>
<li>
<h3>Registration Information:</h3>
<ol type="i">
<li>
<p>We may at times require that you register for certain products and/or services, and/or to make purchases, or register and/or set up an account/profile to access, visit and/or use certain portions of the Service, or the Service as a whole, in which case you may be provided, or required to choose, a password and/or User ID, and you may provide a credit, debit, or charge card number, or other payment information, as well as your name, telephone number(s), email and/or street address, and other personally identifiable information. Other information such as your age, gender, an avatar, and the number for your mobile or other device may also be requested. In addition, you may be asked to send us similar information via messaging (e.g., email, SMS, MMS, or other technologies). All such information shall be referred to in the Agreement as your &#8220;Registration Information&#8221;. We may use and share your Registration Information as described in our <a href="#privacy">Privacy Policy.</a></p>
</li>
<li>
<p>You agree, represent, warrant, and guarantee that all Registration Information provided by you is true, accurate, complete, up-to-date, and solely yours. You may not impersonate, imitate or pretend to be somebody else when registering and/or setting up an account/profile on the Service. If any of your Registration Information changes, you must update it promptly by using the mechanism or contact information on the Service that allows you to change or update your Registration Information, if available. If no such mechanism or contact information is available on the Service, please notify our Privacy Policy Coordinator as described in our <a href="#privacy">Privacy Policy</a>. WE AND OUR INDEMNITEES (AS DEFINED BELOW), SHALL HAVE NO LIABILITY ASSOCIATED WITH OR ARISING FROM YOUR FAILURE TO MAINTAIN ACCURATE, COMPLETE OR UP-TO-DATE REGISTRATION INFORMATION, INCLUDING WITHOUT LIMITATION YOUR FAILURE TO RECEIVE CRITICAL INFORMATION. NEITHER WE NOR OUR INDEMNITEES SHALL BE RESPONSIBLE FOR VERIFYING YOUR REGISTRATION INFORMATION.</p>
</li>
<li>
<p>We reserve the right at any time, with or without notice, to remove or require a change to or repossess any password and/or User ID that has been provided to you, any avatar you may be using or other Registration Information, or otherwise change the access means or methods for portions of the Service, the Service as a whole, or certain products and/or services.</p>
</li>
<li>
<p>You will be solely responsible for maintaining the confidentiality of your Registration Information. You may not authorize or permit anyone else to access and/or use your Registration Information, or access, visit and/or use the Service by use of your account/profile and/or Registration Information. You may not access and/or use anyone else&#8217;s Registration Information, or access, visit and/or use the Service by use of anyone else&#8217;s account/profile and/or Registration Information. You may not sub-license, transfer, sell, rent or assign your Registration Information to any third party without our written approval. Any attempt to do so will be null and void and shall be considered a material breach of the Agreement.</p>
</li>
<li>
<p>You are solely responsible for all access or visitation to, usage of, or activity on, your account/profile including, but not limited to, use of the account/profile by any person who uses your Registration Information, with or without authorization, or who has access to any computer, mobile or other device on which your account/profile resides or is accessible. You acknowledge and agree that we may, and you specifically authorize us to, process all transactions, including without limitation purchases and/or registration for additional merchandise, products and/or services, including without limitation Content, that are initiated by use of your Registration Information.</p>
</li>
<li>
<p>If you have reason to believe that your account/profile is no longer secure (for example, in the event of a loss, theft or unauthorized disclosure or use of your Registration Information), you must immediately change the affected Registration Information by using the mechanism or contact information on the Service, if available, and/or close the account/profile. If no such mechanism or contact information is available on the Service, please immediately notify our Privacy Policy Coordinator as described in our Privacy Policy.</p>
</li>
</ol>
</li>
<li>
<h3>Fees and Payments:</h3>
<p><a name="payments"></a></p>
<ol type="i">
<li>
<p>We and our licensors, vendors, and/or service providers may charge you fees for merchandise, products and/or services, including without limitation Content, offered for sale, rental or auction on or through the Service, and/or for access to portions of the Service or the Service as a whole. You agree to pay all fees and charges, including applicable taxes and surcharges, incurred through your activity on or through the Service and/or through your account/profile at the rates in effect for the billing period in which such fees and charges are incurred (such fees, charges, taxes, and surcharges shall collectively be referred to as &#8220;Fees&#8221;). Unless otherwise specified on the Service, all Fees will be quoted and charged in U.S. dollars. We and our licensors, vendors, and/or service providers reserve the right to change the amount of, or basis for determining, any Fees, and to institute new Fees, effective upon publication of such revised pricing on the Service.</p>
</li>
<li>
<p>If you submit a credit, debit, or charge card number, or other payment information to us upon registration, at the time of purchase, or otherwise, you authorize, give us permission, and direct us to retain such information and to charge all Fees to such payment method.</p>
</li>
<li>
<p>We may charge Fees in advance and on a daily, monthly, yearly, lump sum, or other basis. Fees for certain merchandise, products and/or services, including without limitation Content, may be invoiced on your mobile carrier&#8217;s bill. We may, in our sole discretion, charge Fees to your designated payment method individually, or elect to aggregate Fees for some or all of your purchases. All Fees are due promptly and are non-refundable. You must notify us about any billing problems or discrepancy within thirty (30) days after they first appear on your statement; otherwise, you waive any right to challenge or dispute such problem or discrepancy.</p>
</li>
<li>
<p>If Fees cannot be charged to the payment method you designate, or payment is returned to us for any reason, including charge back, we reserve the right, in addition to our other remedies, to: (i) demand immediate payment of all outstanding Fees due to us from you; (ii) assess an additional 1.5 percent late charge, or the highest amount allowed by law, whichever is lower; (iii) take any and all lawful steps necessary to collect Fees owed to us, and you will be responsible for all costs and expenses incurred in connection with such collection activity, including collection fees, court costs, and attorneys&#8217; fees; (iv) charge such Fees to any other payment method you have on file with us; and (v) terminate, discontinue, suspend, and/or restrict your account/profile, your ability to access, visit and/or use the Service or any portion thereof, and/or the Agreement, including without limitation any of our purported obligations hereunder.</p>
</li>
<li>
<p>In addition, you are responsible for obtaining and maintaining at your own expense all equipment, hardware, software, and telephone, mobile, wireless, Internet and other services necessary to access, visit and/or use the Service. If you are accessing the Service via a mobile device, your mobile carrier may charge you fees for data, text messaging, and other mobile access or communications services.</p>
</li>
</ol>
</li>
</ol>
</li>
<li>
<h2>SENSITIVE INFORMATION DISCLAIMER</h2>
<ol>
<li>
<p>While you may freely discuss topics of interest to you, and the Service may include general Content relating to a range of topics, including medical, health, legal, tax, or financial issues, you should not rely on the Service for individual advice on such issues. Instead, we recommend that you talk in person with a qualified professional. You alone will bear the sole responsibility for evaluating the merits and/or risks associated with use of Content obtained on or through this Service before making any decisions based on such Content.</p>
</li>
<li>
<p>THE CONTENT AVAILABLE ON OR THROUGH THIS SERVICE IS IN NO WAY INTENDED TO AND SHALL NOT BE CONSTRUED TO: (A) CONSTITUTE PROFESSIONAL MEDICAL, HEALTH, LEGAL, TAX, OR FINANCIAL ADVICE; (B) RECOMMEND, ENDORSE, OR ADVISE REGARDING ANY FINANCIAL INSTRUMENT OR INVESTMENT STRATEGY; OR (C) DIAGNOSE, CURE, OR TREAT ANY MEDICAL, HEALTH OR OTHER CONDITION. ALWAYS SEEK THE ADVICE OF A QUALIFIED PROFESSIONAL. FOR EXAMPLE, SEEK THE ADVICE OF YOUR PHYSICIAN OR OTHER QUALIFIED HEALTH PROVIDER PRIOR TO STARTING ANY NEW DIET AND ASK YOUR DOCTOR ANY QUESTIONS YOU MAY HAVE REGARDING A MEDICAL CONDITION. IN ADDITION TO ALL OTHER LIMITATIONS AND DISCLAIMERS IN THE AGREEMENT, WE AND OUR LICENSORS, VENDORS, AND/OR SERVICE PROVIDERS DISCLAIM ANY LIABILITY OR LOSS IN CONNECTION WITH THE CONTENT OBTAINED ON OR THROUGH THIS SERVICE.</p>
</li>
</ol>
</li>
<li>
<h2>RULES OF USAGE:</h2>
<p><a name="usage"></a></p>
<ol>
<li>
<h3>Use of the Service by You:</h3>
<ol type="i">
<li>
<p>The Service is not intended for users under the age of 13, and we do not knowingly collect personally identifiable information from users under the age of 13. Such users are expressly prohibited from registering for the Service or submitting their personally identifiable information to us, and from using portions of the Service for which registration is required, such as our social, community and public discussion areas, photo and video galleries, bulletin boards, forums, chats, blogs, personal/job search and other classified ads, contests/sweepstakes, and elsewhere.</p>
</li>
<li>
<p>You shall ensure that all equipment, hardware, software, products and/or services you use to access, visit, or use the Service does not disturb or interfere with our operation of the Service, or impede or interfere with others&#8217; access, visitation and/or use of the Service. We reserve the right, in addition to our other remedies, with or without notice, to immediately disconnect from the Service any equipment, hardware, software, product and/or services causing interference with us, our licensors, vendors, service providers, the Service or any Content.</p>
</li>
<li>
<p>If you provide to us the number for a mobile or other device, or we obtain the device identifier for a device you are using, you agree, represent, warrant, and guarantee that such device is registered in your name and owned by you, or that you have permission of the device owner(s).</p>
</li>
<li>
<p>Unless otherwise specified, the Service is intended for your personal, non-commercial use only. You are solely responsible for all usage of, or activities on, the Service by you and by those you authorize or allow to use, or provide access to, the Service, for example, by authorizing or allowing access to your account/profile or any computer, mobile or other device on which the Service resides or is accessible.</p>
</li>
<li>
<p>You acknowledge that we have not reviewed and do not necessarily endorse the Content of sites, applications, destinations or services linked to or accessible from this Service and are not responsible for the Content or actions of any other sites, applications, destinations or services. Your linking to or accessing any other site, application, destination or service is at your sole risk.</p>
</li>
<li>
<p>You must comply with all local, state, federal, provincial, national, international, and foreign laws, rules, and regulations in accessing and using the Service, and will immediately notify us if you learn of or suspect a security breach or any illegal activity in connection with the Service.</p>
</li>
<li>
<p>You must comply with all applicable import and export control laws, rules, and regulations of the United States and other countries, and you must not transfer, by electronic transmission or otherwise, any Content subject to restrictions under such laws, rules, or regulations to a site, application, destination, location, person or entity, or for an end use, prohibited thereby. You will not post, upload, transmit, send or otherwise make available any Content on or through the Service that cannot be exported without prior government authorization or notification, including without limitation certain types of encryption software</p>
</li>
<li>
<p>You represent and warrant that (i) you are not located in a country that is subject to a U.S. Government embargo, or that has been designated by the U.S. Government as a &#8220;terrorist supporting&#8221; country; and (ii) you are not listed on any U.S. Government list of prohibited or restricted parties.</p>
</li>
<li>
<p>Content that is provided by us, our licensors, vendors and/or service providers, including without limitation photos, images, text, music, audio, videos, podcasts, trademarks, trade names, service marks and other brand identifiers, the organization, design, compilation, and &#8220;look and feel&#8221; of the Service, and all advertising thereon, is protected by local, state, federal, provincial, national, international, and foreign copyright, trademark and other intellectual property laws, rules, and regulations, and is the property of us or our licensors, vendors and/or service providers.</p>
</li>
<li>
<p>Certain Content may be made available to you on or through the Service for download, installation, and/or streaming on your computer, mobile or other device, and via Real Simple Syndication (RSS), such as photos, images, text, music, audio, videos, podcasts, ringtones, games, graphics, or software. Such Content is subject to the same terms, conditions, limitations and restrictions applicable to all Content provided by us, our licensors, vendors and/or service providers. You must, in addition to all of your other obligations, use such Content only to the extent expressly authorized for the particular Content, and you may not use such Content in a manner that exceeds such authorization.</p>
</li>
</ol>
</li>
<li>
<h3>Prohibitions on Use of the Service:</h3>
<ol type="i">
<li>
<p>Absent explicit prior written consent in certain situations, you may not, nor may you allow, enable, authorize, instruct, encourage, assist, suggest, inform, or promote that others, directly or indirectly, do any of the following for any reason:</p>
<ul>
<li>
<p>access and/or use anyone else&#8217;s Registration Information, or access, visit and/or use the Service by use of anyone else&#8217;s account/profile and/or Registration Information;</p>
</li>
<li>
<p>make any commercial, advertising, promotional, or marketing use of the Service and/or Content, including without limitation the photos, images, text, music, audio, videos, podcasts, trademarks, trade names, service marks and other brand identifiers of us, our licensors, vendors, and/or service providers obtained on or through the Service, except as permitted by the Copyright Act or other law or as expressly permitted in writing by the Agreement, us or the Service;</p>
</li>
<li>
<p>impersonate, imitate or pretend to be somebody else, by setting up different accounts/profiles or otherwise, or falsely state, represent, or imply any affiliation, association, or connection with a person or entity when using the Service;</p>
</li>
<li>
<p>authorize or permit anyone else to access and/or use your Registration Information, or access, visit and/or use the Service by use of your account/profile and/or Registration Information;</p>
</li>
<li>
<p>falsely state, represent, or imply any affiliation, association, or connection between any person or entity, including without limitation you, your company, or your site, application, destination or service, with the Service, us, or our licensors, vendors and/or service providers;</p>
</li>
<li>
<p>post, upload, transmit, send or otherwise make available on or through the Service any Content that constitutes junk mail, spam, pyramid schemes, chain letters, phishing, advertising, and/or commercial offers, including without limitation touting or recommending any stocks or particular security, portfolio of securities, transaction or investment strategy;</p>
</li>
<li>
<p>repeatedly post, upload, transmit, send or otherwise make available on or through the Service the same Content multiple times in a day, week, or month;</p>
</li>
<li>
<p>post, upload, transmit, send, or otherwise make available on or through the Service any unsolicited bulk communication;</p>
</li>
<li>
<p>use any bots, cheats, macros, scripts, or run Maillist, Listserv or any form of auto-responder, or use any other automated process, or engage in meta-searching or periodic caching of information, to access, visit and/or use the Service, including without limitation to post, upload, transmit, send, or other make available Content on or through the Service;</p>
</li>
<li>
<p>copy, harvest, crawl, index, scrape, spider, mine, gather, extract, compile, obtain, aggregate, capture, or store any Content, including without limitation photos, images, text, music, audio, videos, podcasts, data, software, source or object code, algorithms, statistics, analysis, formulas, indexes, registries, repositories, or any other information available on or through the Service, including by an automated or manual process or otherwise, if we have taken steps to forbid, prohibit, or prevent you from doing so;</p>
</li>
<li>
<p>engage in personal attacks, use any language that is, or post, upload, transmit, send or otherwise make available on or through the Service any Content about an individual that is, abusive, intimidating, bullying, harassing, hateful, violent, or that victimizes, degrades, defiles or disparages an individual, on or through the Service;</p>
</li>
<li>
<p>use any language that is, or post, upload, transmit, send or otherwise make available on or through the Service any Content about a group that is, hateful, violent, or that victimizes, degrades, defiles or disparages any group based on race, gender, religion, national origin, disability, sexual orientation, or age, or otherwise engage in what we deem to be racism, sexism, ageism, religious intolerance, bigotry, ethnic slurs, or homophobia;</p>
</li>
<li>
<p>use any language, or post, upload, transmit, send or otherwise make available on or through the Service any Content that may or is intended to enable, authorize, instruct, encourage, assist, suggest, or promote activities that incite violence, constitute a criminal offense, give rise to civil liability, or otherwise violate any local, state, federal, provincial, national, international, or foreign law, rule or regulation (e.g., drug use, underage drinking), including without limitation defamation, child pornography, fraud, or invasion of privacy;</p>
</li>
<li>
<p>stalk others on or through the Service, or using information obtained on or through the Service, or otherwise contact other users in the physical world without their permission using information obtained on or through the Service;</p>
</li>
<li>
<p>use any language that is, or post, upload, transmit, send or otherwise make available on or through the Service any Content that is, or depicts anyone engaged in any act deemed by us to be, pornographic, obscene, sexually explicit, perverse, illicit, indecent, lewd, or lascivious;</p>
</li>
<li>
<p>engage in &#8220;cyber-sex&#8221; (i.e., &#8220;virtual sex&#8221;) or &#8220;sexting&#8221; or solicit another to participate in &#8220;cyber-sex&#8221; or &#8220;sexting&#8221; on or through the Service;</p>
</li>
<li>
<p>use any language, or post, upload, transmit, send or otherwise make available on or through the Service any Content that we deem to be offensive, immoral, vulgar, crude, harmful, violent, deceptive, or otherwise inappropriate;</p>
</li>
<li>
<p>post, upload, transmit, send or otherwise make available on or through the Service any Content that you are bound to not disclose, by agreement, contract, fiduciary duty, employment relationship, or otherwise, such as insider information, proprietary and/or confidential information, or trade secrets;</p>
</li>
<li>
<p>provide professional advice or post, upload, transmit, send or otherwise make available on or through the Service any Content intended to provide professional advice about medical, health, legal, tax, financial, or investment issues, or to solicit, recommend, or endorse any securities or financial instruments, or suggest that a particular transaction or investment strategy is suitable for you or any specific person;</p>
</li>
<li>
<p>discuss the mechanics of sweepstakes, contests, auctions, flash sales or similar promotions available on or through the Service, or attempt to manipulate, corrupt or otherwise affect the outcome of, any such promotions, or post, upload, transmit, send, or otherwise make available on or through the Service any Content that may or is intended to enable, authorize, instruct, encourage, assist, suggest, inform, or promote activities that may subvert or not comply with the rules, restrictions, and/or limitations applicable to such promotions;</p>
</li>
<li>
<p>post, upload, transmit, send, or otherwise make available on or through the Service any Content that illustrates, depicts anyone engaged in, or is intended to enable, authorize, encourage, assist, suggest, inform, promote or give instructions for weapon and/or explosive manufacture or use;</p>
</li>
<li>
<p>post, upload, transmit, send or otherwise make available on or through the Service any Content that infringes, violates, or breaches the copyright, trademark, trade secret or any other personal or proprietary right of us, our licensors, vendors, service providers, other users, and/or any third party;</p>
</li>
<li>
<p>copy, reproduce, modify, change, edit, crop, alter, revise, adapt, translate, enhance, reformat, remix, rearrange, resize, create derivative works of, move, remove, delete, or erase any copyright, trademark, or other proprietary legends, symbols, marks, or notices on the Service, or attempt to circumvent any mechanisms for preventing the unauthorized reproduction or distribution of Content;</p>
</li>
<li>
<p>copy, reproduce, modify, change, edit, crop, alter, revise, adapt, translate, enhance, reformat, remix, rearrange, resize, create derivative works of, move, remove, delete, erase, reverse engineer, decipher, decompile, disassemble, store, cache, aggregate, publish, post, display, distribute, broadcast, perform, transmit, rent, sell, share, sublicense, syndicate, or otherwise provide to others, or use any Content obtained on or through the Service, in whole or in part, except as permitted by the Copyright Act or other law or as expressly permitted in writing by the Agreement, us or the Service;</p>
</li>
<li>
<p>copy, reproduce, modify, change, edit, crop, alter, revise, adapt, translate, enhance, reformat, remix, rearrange, resize, create derivative works of, move, remove, delete, erase, reverse engineer, decipher, decompile, disassemble, or otherwise attempt to derive any source code or underlying ideas or algorithms of the Service, in whole or in part, including without limitation any Content, communications, messaging, programming, hardware, functionality, or features on our networks, servers or databases, or otherwise reduce the Service, in whole or in part, to a human perceivable form;</p>
</li>
<li>
<p>access, other than connecting to our servers by http requests using a browser, or disrupt, overwhelm, attack, hack, destroy, damage, disable, impair, repossess, alter, tamper or interfere with, the Service including without limitation any Content, communications, messaging, programming, hardware, functionality, or features on our networks, servers or databases, or impede or interfere with others&#8217; access, visitation, and/or use of the Service, in any way or by any means, whether remotely or by access to our personal property, premises, or otherwise, including, without limitation, by using administrator passwords or by masquerading as an administrator while using the Service or otherwise; or</p>
</li>
<li>
<p>post, upload, transmit, send or otherwise make available on or through the Service any software disabling devices, time bombs, Trojan horses, cancelbots, viruses, worms, bugs, corrupted files, spyware, adware, malware, malicious programs or code, or devices or defects of similar nature.</p>
</li>
</ul>
</li>
<li>
<p>CAUTION: ANY ATTEMPT TO DO ANY OF THE FOREGOING PROHIBITED ACTS, OR TO OTHERWISE UNDERMINE THE OPERATION OF THE SERVICE, MAY BE A VIOLATION OF CRIMINAL AND CIVIL LAW. SHOULD SUCH AN ATTEMPT BE MADE, WE RESERVE THE RIGHT, IN ADDITION TO OUR OTHER REMEDIES, TO SEEK DAMAGES (INCLUDING WITHOUT LIMITATION ATTORNEYS&#8217; FEES) FROM ANY SUCH INDIVIDUAL OR ENTITY TO THE FULLEST EXTENT PERMITTED BY LAW, INCLUDING CRIMINAL PROSECUTION.</p>
</li>
</ol>
</li>
<li>
<h3>Comments on the Service are Not Necessarily Endorsed by Us:</h3>
<p>We do not necessarily endorse, support, sanction, encourage, verify, or agree with the comments, opinions, or statements posted, uploaded, transmitted, sent or otherwise made available on or through the Service, including without limitation in our social, community and public discussion areas, photo and video galleries, bulletin boards, forums, chats, blogs, columns, articles, personal/job search and other classified ads, contests/sweepstakes, or elsewhere. Any Content posted, uploaded, transmitted, sent or otherwise made available on or through the Service, including advice and opinions, are the views and responsibility of those who post the Content and do not necessarily represent our views or the views of our licensors, vendors, and/or service providers. You agree that we and our licensors, vendors, and/or service providers are not responsible, and shall have no liability to you, with respect to any Content posted, uploaded, transmitted, sent or otherwise made available on the Service, including Content that violates the Agreement.</p>
</li>
<li>
<h3>Use of Content Supplied by You:</h3>
<ol type="i">
<li>
<p>To learn about our use of information about you and your computer, mobile or other device that may be collected in connection with your access, visitation and/or use of the Service, please see our <a href="#privacy">Privacy Policy.</a></p>
</li>
<li>
<p>Except as expressly provided otherwise in the Agreement, you or the owner of any Content you post, upload, transmit, send or otherwise make available on or through the Service retains ownership of all rights, title, and interests in such Content. However, by posting, uploading, transmitting, sending or otherwise making available Content, registering for the Service, entering a sweepstakes or contest, or engaging in any other form of communication with us (on or through the Service or otherwise) you irrevocably grant us a royalty-free, perpetual, non-exclusive, unrestricted, worldwide right and license to copy, reproduce, modify, edit, crop, alter, revise, adapt, translate, enhance, reformat, remix, rearrange, resize, create derivative works of, move, remove, delete, erase, reverse-engineer, store, cache, aggregate, publish, post, display, distribute, broadcast, perform, transmit, rent, sell, share, sublicense, syndicate, or otherwise provide to others, use, or change all such Content and communications, in any medium (now in existence or hereinafter developed) and for any purpose, including commercial purposes, and to authorize others to do so. Among other things, this means that we may use any ideas, suggestions, developments, and/or inventions that you post, upload, transmit, send or otherwise make available in any manner as we see fit without any compensation or attribution to you. In any event, you should make copies of or otherwise back-up any and all Content, personal data or communications you post, upload, transmit, send or otherwise make available on or through the Service that you may wish to retain.</p>
</li>
<li>
<p>Please be aware that Content you disclose in publicly accessible portions of the Service may be available to other users, so you should be mindful of personally identifiable information and sensitive Content you may wish to post. WE ARE NOT RESPONSIBLE FOR THE CONSEQUENCES OF CONTENT OR PERSONALLY IDENTIFIABLE INFORMATION YOU POST, UPLOAD, TRANSMIT, SEND OR OTHERWISE MAKE AVAILABLE ON THE SERVICE.</p>
</li>
</ol>
</li>
<li>
<h3>Editing, Additions and Deletions:</h3>
<p>We reserve the right, but undertake no duty, in our sole discretion, with or without notice, to review, edit, move, add, delete, or otherwise change any features, functionality, and/or Content available on or through, or downloadable from, the Service, including without limitation any Content in your account/profile, or any of your messages, posts, or threads. This includes updates or upgrades to Content, automatic or otherwise. You agree to accept, and to take no action to interfere with, automatic upgrades or updates. Any changes to the Service may not be consistent across all platforms, computers, or devices. If you do not refresh the Service after each such change, or download the update(s) or upgrade(s), your experience may not reflect the most recent features, functionality, and/or Content, for which we and our Indemnitees disclaim any and all responsibility and liability. If any changes require you to obtain new, additional, or different equipment, hardware, software, and/or telephone, mobile, wireless, Internet and/or other services, you are solely responsible for any additional expense. Even after Content is removed from your account/profile, your messages, post(s), and/or threads, regardless of whether such removal or deletion is by you or by us, copies of that Content may be retained and/or remain viewable by us, our licensors, vendors, service providers and/or other third parties, including other users.</p>
</li>
<li>
<h3>Copyright Complaints:</h3>
<p><a name="copyright-complaint"></a></p>
<ol type="i">
<li>
<p>We respect the intellectual property of others, and we ask our users to do the same. We may, in appropriate circumstances and at our discretion, in addition to our other remedies, terminate, discontinue, suspend and/or restrict the account/profile or ability to access, visit, and/or use the Service of users who infringe the copyright rights of others, and we may choose to remove, delete, erase, or disable access to Content deemed to be infringing. It is our policy to terminate the access of repeat infringers.</p>
</li>
<li>
<p>If you have reason to believe that your Content has been copied and/or is accessible on the Service in a way that constitutes copyright infringement, or that the Service contains links or other references to another site, application, destination or service that contains Content or activity that infringes your copyright rights, you may notify us by providing a document via e-mail that includes the following information (as required by the Online Copyright Infringement Liability Limitation Act of the Digital Millennium Copyright Act, 17 U.S.C. sec. 512) set forth below:</p>
<ol>
<li>
<p>A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed;</p>
</li>
<li>
<p>Identification of the copyrighted work claimed to have been infringed, or if multiple copyrighted works at the Service are covered by a single notification, a representative list of such works at the Service;</p>
</li>
<li>
<p>Identification of the copyrighted work that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit us to locate such copyrighted work;</p>
</li>
<li>
<p>Information reasonably sufficient to enable us to contact the complaining party, such as an address, telephone number, and if available, an electronic mail address at which the complaining party may be contacted;</p>
</li>
<li>
<p>A statement that the complaining party has a good faith belief that use of the copyrighted work in the manner complained of is not authorized by the copyright owner, its agent, or the law; and</p>
</li>
<li>
<p>A statement that the information in the notification is accurate, and under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</p>
</li>
</ol>
</li>
<li>
<p>IMPORTANT: MISREPRESENTATIONS MADE IN A NOTICE CLAIMING THAT CONTENT OR ACTIVITY IS INFRINGING VIOLATES THE DIGITAL MILLENNIUM COPYRIGHT ACT AND MAY EXPOSE YOU TO LIABILITY FOR DAMAGES (INCLUDING COSTS AND ATTORNEYS&#8217; FEES). COURTS HAVE FOUND THAT YOU MUST CONSIDER COPYRIGHT DEFENSES, LIMITATIONS OR EXCEPTIONS BEFORE SENDING A NOTICE. ACCORDINGLY, IF YOU ARE NOT SURE WHETHER CONTENT RESIDING ON OUR SERVICE INFRINGES YOUR COPYRIGHT, WE SUGGEST THAT YOU FIRST CONTACT AN ATTORNEY. IN ADDITION, PLEASE DETERMINE WHETHER THE CONTENT YOU ARE SENDING A NOTICE ABOUT IS ACTUALLY RESIDING ON OUR SERVICE BEFORE SENDING THE NOTICE.</p>
</li>
</ol>
</li>
<li>
<p>Note: Only copyright complaints should be sent to agent. No other communications will be accepted or responded to.</p>
<p>For communications on other matters, please contact us through the means described on the Service, if available (for example, in the &#8220;Contact Us&#8221; section), or if no such means are specified, contact our Privacy Policy Coordinator as described in our <a href="#privacy">Privacy Policy.</a></p>
<p>PLEASE NOTE: THE INFORMATION WE PRESENT HERE IS FOR INFORMATIONAL PURPOSES ONLY AND IS NOT LEGAL ADVICE.</p>
</li>
<li>
<h3>Merchandise, Products and/or Services Available on or through the Service:</h3>
<ol type="i">
<li>
<p>WE MAY RECEIVE A COMMISSION, FEE, AND/OR OTHER COMPENSATION ON SOME PURCHASES MADE ON, THROUGH, OR LINKED FROM THE SERVICE.</p>
</li>
<li>
<p>Nothing on the Service constitutes a binding offer to sell, rent, auction, distribute or give away merchandise, products and/or services, including without limitation Content. We reserve the right at any time after receipt of your order or bid to accept or decline such order or bid, or any portion thereof, or to not ship to particular addresses, even after your receipt of an order or bid confirmation or after you have been charged. Any prices displayed on the Service are quoted in U.S. dollars and are intended to be valid and effective only in the United States. In the event merchandise, products and/or services, including without limitation Content, are listed at an incorrect price, we have the right to refuse or cancel orders or bids placed at the incorrect price, regardless of whether the order or bid has been confirmed or you have been charged. If your order or bid is canceled by us after you have been charged, we will issue a credit. We reserve the right at any time to limit the quantities of merchandise, products and/or services, including without limitation Content, which you, your family or any group seek.</p>
</li>
<li>
<p>Images available on or through the Service of merchandise or products, including without limitation Content, may not accurately capture the actual appearance, color, look and feel, specifications, features, or functionality of such merchandise or products.</p>
</li>
<li>
<p>NEITHER WE NOR OUR INDEMNITEES (AS DEFINED BELOW) MAKE ANY REPRESENTATIONS, WARRANTIES, OR GUARANTEES WITH RESPECT TO ANY OF THE MERCHANDISE, PRODUCTS, AND/OR SERVICES, INCLUDING WITHOUT LIMITATION CONTENT, FEATURED, MENTIONED, DESCRIBED, AUCTIONED, DISTRIBUTED, GIVEN AWAY, RENTED, SOLD, OR OTHERWISE AVAILABLE ON OR THROUGH THE SERVICE. ALL TRANSACTIONS FOR MERCHANDISE, PRODUCTS, AND/OR SERVICES, INCLUDING WITHOUT LIMITATION CONTENT, SHALL BE BETWEEN THE USER AND THE THIRD PARTY SELLER, DISTRIBUTOR, OR MANUFACTURER WITHOUT ANY INVOLVEMENT BY US OR OUR INDEMNITEES. THESE THIRD PARTIES MAY REQUIRE THAT YOU AGREE TO THEIR ADDITIONAL TERMS, CONDITIONS, CONTRACTS, AGREEMENTS, AND/OR RULES.</p>
</li>
<li>
<p>IF YOU BID ON, PURCHASE, ORDER, OBTAIN OR RESEARCH MERCHANDISE, PRODUCTS AND/OR SERVICES, INCLUDING WITHOUT LIMITATION CONTENT, ON OR THROUGH THE SERVICE, NOTE THAT NEITHER WE NOR OUR INDEMNITEES HAVE ANY CONTROL OVER, OR ASSUME RESPONSIBILITY FOR, THE QUALITY, QUANTITY, SIZE, CHARACTER, FITNESS FOR A PARTICULAR PURPOSE, SPECIFICATIONS, FEATURES, FUNCTIONALITY, SAFETY, OR LEGALITY OF SUCH MERCHANDISE, PRODUCTS AND/OR SERVICES, THE TRUTH OR ACCURACY OF THE LISTINGS, OR THE ABILITY OF THE SELLERS TO SELL, SHIP, OR OTHERWISE PROVIDE SUCH MERCHANDISE, PRODUCTS AND/OR SERVICES.</p>
</li>
<li>
<p>YOU AGREE THAT WE AND OUR INDEMNITEES ARE NOT RESPONSIBLE, AND SHALL HAVE NO LIABILITY TO YOU, WITH RESPECT TO MERCHANDISE, PRODUCTS, AND/OR SERVICES, INCLUDING WITHOUT LIMITATION CONTENT, FEATURED, MENTIONED, DESCRIBED, AUCTIONED, DISTRIBUTED, GIVEN AWAY, SOLD, RENTED OR OTHERWISE AVAILABLE ON OR THROUGH THE SERVICE, INCLUDING ILLEGAL, OFFENSIVE OR ILLICIT ITEMS, EVEN ITEMS THAT VIOLATE THE AGREEMENT.</p>
</li>
</ol>
</li>
<li>
<h3>Indemnification:</h3>
<p>You agree to indemnify, defend and hold harmless us, our licensors, vendors, service providers, and each of our and their respective officers, directors, members, employees, independent and sub-contractors, agents, representatives, successors and assigns (collectively, &#8220;Indemnitees&#8221;) from and against any and all claims, disputes, demands, proceedings, cause of action, judgments, damages, liabilities, losses, costs or expense (including, but not limited to reasonable attorneys&#8217; fees) of any kind and nature, known and unknown, suspected and unsuspected, disclosed and undisclosed (collectively, &#8220;Claims&#8221;) which may arise out of or are in any way connected with your access, visitation and/or use of the Service, your Content, unauthorized use of Content obtained on or through the Service, breach or alleged breach of the Agreement, or from any of your acts or omissions in connection with the Service.</p>
</li>
<li>
<h3>Disclaimer of Warranty and Limitation of Liability:</h3>
<ol type="i">
<li>
<p>CERTAIN FEATURES, FUNCTIONALITY, AND/OR CONTENT OFFERED ON OR THROUGH THE SERVICE MAY BE HOSTED, ADMINISTERED, RUN OR OTHERWISE PARTICIPATED IN BY THIRD PARTIES, SUCH AS OUR SERVICE PROVIDERS THAT PROVIDE SOCIAL, COMMUNITY AND PUBLIC DISCUSSION AREAS, PHOTO AND VIDEO GALLERIES, BULLETIN BOARDS, FORUMS, CHATS, BLOGS, AUCTIONS, SHOPPING, AND PERSONAL/JOB SEARCH AND OTHER CLASSIFIED ADS. THESE SERVICE PROVIDERS MAY REQUIRE THAT YOU AGREE TO THEIR ADDITIONAL TERMS, CONDITIONS, CONTRACTS, AGREEMENTS AND/OR RULES. YOUR COMPLIANCE WITH ANY SUCH ADDITIONAL TERMS, CONDITIONS, CONTRACTS, AGREEMENTS AND/OR RULES IS SOLELY YOUR RESPONSIBILITY AND WILL HAVE NO EFFECT ON YOUR CONTINUING OBLIGATION TO COMPLY WITH THE AGREEMENT WHEN USING THE SERVICE. WE AND OUR INDEMNITEES SPECIFICALLY DISCLAIM ANY AND ALL LIABILITY IN CONNECTION WITH THE ACTS OR OMISSIONS OF SUCH THIRD PARTIES.</p>
</li>
<li>
<p>YOU ACKNOWLEDGE THAT YOU ARE USING THE SERVICE AT YOUR OWN RISK. THE SERVICE IS PROVIDED &#8220;AS IS&#8221;, &#8220;WITH ALL FAULTS&#8221; AND ON AN &#8220;AS AVAILABLE&#8221; BASIS, AND WE AND OUR INDEMNITEES HEREBY EXPRESSLY DISCLAIM ANY AND ALL REPRESENTATIONS, WARRANTIES, AND GUARANTEES, EXPRESS AND IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTIES OF ACCURACY, RELIABILITY, TITLE, MERCHANTABILITY, NON-INFRINGEMENT, FITNESS FOR A PARTICULAR PURPOSE OR ANY OTHER WARRANTY, CONDITION, GUARANTEE OR REPRESENTATION, WHETHER ORAL, IN WRITING OR IN ELECTRONIC FORM, INCLUDING BUT NOT LIMITED TO THE ACCURACY OR COMPLETENESS OF ANY CONTENT CONTAINED THEREIN OR PROVIDED BY US OR THE SERVICE. WE AND OUR INDEMNITEES DO NOT REPRESENT, WARRANT OR GUARANTEE THAT ACCESS TO THE SERVICE AND/OR COMMUNICATIONS OR MESSAGING FROM OR TO US OR YOU WILL BE UNINTERRUPTED, TIMELY, OR ERROR FREE, OR THAT THERE WILL BE NO FAILURES, DELAYS, INACCURACIES, ERRORS OR OMISSIONS OR LOSS OF TRANSMITTED CONTENT, OR THAT NO SOFTWARE DISABLING DEVICES, TIME BOMBS, VIRUSES, WORMS, BUGS, OR DEVICES OR DEFECTS OF SIMILAR NATURE WILL BE TRANSMITTED ON OR THROUGH THE SERVICE, AND WE AND OUR INDEMNITEES WILL NOT BE LIABLE IN THE EVENT OF ANY SUCH OCCURRENCE.</p>
</li>
<li>
<p>WE AND OUR INDEMNITEES ARE NOT RESPONSIBLE FOR INCOMPLETE, INCORRECT, LOST, DELAYED, LATE, MISDIRECTED, GARBLED, DAMAGED, ILLEGIBLE, UNDELIVERABLE, OR INCOMPLETELY RECEIVED COMMUNICATIONS OR MESSAGING FROM OR TO US OR YOU FOR ANY REASON, INCLUDING BY REASON OF HARDWARE, SOFTWARE, BROWSER, NETWORK, COMMUNICATIONS SYSTEM FAILURE, MALFUNCTION, DELAY, OR CONGESTION, OR ANY INCOMPATIBILITY AT OUR SERVERS OR ELSEWHERE, OR FOR ANY OTHER TECHNICAL PROBLEMS, ANY FORM OF ACTIVE OR PASSIVE FILTERING BY A USER&#8217;S COMPUTER, MOBILE OR OTHER DEVICE OR ACCESS PROVIDER, INSUFFICIENT SPACE ON USER&#8217;S COMPUTER, MOBILE OR OTHER DEVICE OR ACCOUNT/PROFILE, OR ANY OTHER CAUSE OR COMBINATION THEREOF.</p>
</li>
<li>
<p>WE AND OUR INDEMNITEES SHALL NOT BE LIABLE TO YOU OR ANY THIRD PARTIES FOR ANY DIRECT, INDIRECT, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES ALLEGEDLY SUSTAINED ARISING OUT OF THE AGREEMENT, THE SERVICE, THE SALE, PURCHASE, RECEIPT, USE OR MISUSE OF ANY MERCHANDISE, PRODUCTS AND/OR SERVICES, INCLUDING WITHOUT LIMITATION CONTENT, YOUR ABILITY OR INABILITY TO ACCESS, VISIT AND/OR USE THE SERVICE, INCLUDING DAMAGE TO YOUR COMPUTER, MOBILE OR OTHER DEVICE, OR FOR SOFTWARE DISABLING DEVICES, TIME BOMBS, VIRUSES, WORMS, BUGS, OR DEVICES OR DEFECTS OF SIMILAR NATURE ALLEGED TO HAVE BEEN OBTAINED FROM THE SERVICE, YOUR ACCESS, VISITATION, AND/OR USE OF, OR RELIANCE ON, THE SERVICE OR ANY OF THE MERCHANDISE, PRODUCTS, SERVICES AND/OR CONTENT AVAILABLE ON OR THROUGH THE SERVICE, REGARDLESS OF THE TYPE OF CLAIM OR THE NATURE OF THE CAUSE OF ACTION, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. IN NO EVENT SHALL OUR LIABILITY TO YOU EXCEED THE TOTAL AMOUNT OF FEES PAID BY YOU DURING THE ONE MONTH PERIOD IN WHICH THE CLAIM AROSE. SOME STATES DO NOT ALLOW THE EXCLUSION OF IMPLIED WARRANTIES OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES. THE AGREEMENT IS NOT SUBJECT TO THE LAWS OF SUCH STATES, BUT TO THE EXTENT A CLAIM IS BROUGHT THEREIN, OUR LIABILITY AND WARRANTIES ARE LIMITED TO THE EXTENT PERMITTED BY LAW. IF YOU ARE A CALIFORNIA RESIDENT, YOU WAIVE CALIFORNIA CIVIL CODE SECTION 1542, WHICH STATES, IN PART: &#8220;A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS OR HER FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM OR HER MUST HAVE MATERIALLY AFFECTED HIS OR HER SETTLEMENT WITH THE DEBTOR&#8221;.</p>
</li>
</ol>
</li>
<li>
<h3>Termination or Suspension of the Service, Your Use of the Service, and/or the Agreement:</h3>
<ol type="i">
<li>
<p>We reserve the right, in addition to our other remedies, to terminate, discontinue, suspend and/or restrict the Service, your account/profile, your ability to access, visit and/or use the Service or any portion thereof, and/or the Agreement, including without limitation any of our purported obligations hereunder, for any or no reason, with or without notice. In the event of any termination or discontinuation of your account/profile, your ability to access, visit and/or use the Service or any portion thereof, and/or the Agreement, we reserve the right, in addition to our other remedies, to reassign, and/or allow another user to use, your password and/or User ID.</p>
</li>
<li>
<p>Even if the Service, your ability to access, visit and/or use the Service or any portion thereof, and/or the Agreement is terminated, discontinued, suspended or restricted, by you or by us, we have no obligation to (but we may in our discretion) remove any Content, and therefore copies of all information with regard to your account/profile and/or Content you may have posted, uploaded, transmitted, sent or otherwise made available on or through the Service, may be retained and/or remain viewable by us, our licensors, vendors, service providers and/or other third parties, including other users. Nevertheless, we have no obligation to retain, store, or provide you with any information with regard to your account/profile and/or Content you may have posted, uploaded, transmitted, sent or otherwise made available on or through the Service. All provisions of the Agreement shall survive the termination or expiration of the Agreement and/or your account/profile.</p>
</li>
</ol>
</li>
<li>
<h3>Communications to You:</h3>
<ol type="i">
<li>
<p>The communications between you and us usually use electronic means, whether you access, visit or use the Service, send us messages, or whether we post notices on the Service or communicate with you via messaging. For contractual purposes, you (a) consent to receive communications from us in electronic form; and (b) agree that all notices, documents, disclosures, and other communications that we provide to you electronically satisfy any legal requirement that such communications would satisfy if they were in writing. Your consent to receive communications and do business electronically, and your agreement to do so applies to all of your interactions and transactions with us.</p>
</li>
<li>
<p>You understand and agree that joining the Service may include receiving certain communications from us, such as transactional or relationship messages, and/or messages about your account/profile, and that these communications are considered part of your account/profile and you may not be able to opt out of receiving them without ceasing to be a registered user of the Service.</p>
</li>
</ol>
</li>
<li>
<h3>Mobile Participants:</h3>
<p>You understand and agree that various entities unaffiliated with us make up the &#8220;mobile ecosystem&#8221; that enables you to access, visit and/or use the Service via your computer, mobile or other device, including without limitation equipment, hardware and software manufacturers and providers, telephone, mobile, wireless, and Internet network providers and carriers, and sellers or providers of Content for use with the Service (collectively, the &#8220;Mobile Participants&#8221;). We do not represent, warrant or guarantee that all portions of the Service, or the Service as a whole, can be accessed via all mobile or other devices, or via all carriers and service plans or is available in all geographic locations. THESE MOBILE PARTICIPANTS MAY REQUIRE THAT YOU AGREE TO THEIR ADDITIONAL TERMS, CONDITIONS, CONTRACTS, AGREEMENTS AND/OR RULES. YOUR COMPLIANCE WITH ANY SUCH ADDITIONAL TERMS, CONDITIONS, CONTRACTS, AGREEMENTS AND/OR RULES IS SOLELY YOUR RESPONSIBILITY AND WILL HAVE NO EFFECT ON YOUR CONTINUING OBLIGATION TO COMPLY WITH THE AGREEMENT WHEN USING THE SERVICE. WE AND OUR INDEMNITEES SPECIFICALLY DISCLAIM ANY AND ALL LIABILITY IN CONNECTION WITH THE ACTS OR OMISSIONS OF SUCH MOBILE PARTICIPANTS. We have agreements with some of these Mobile Participants that require us to make certain disclosures and pass along certain responsibilities to you. For such Mobile Participants, you specifically acknowledge and agree that: (i) the Agreement is between us and you; the Mobile Participants are not parties to the Agreement; (ii) the Mobile Participants and their parent, subsidiaries and affiliates are third party beneficiaries of the Agreement and upon your acceptance of the terms and conditions of the Agreement, the Mobile Participants will have the right (and will be deemed to have accepted the right) to enforce the Agreement against you; (iii) the license granted to you hereunder is limited to a non-transferable license to use the Service on the particular product authorized by the applicable Mobile Participant that you own or control and as permitted by such Mobile Participant&#8217;s applicable usage rules; (iv) Mobile Participants have no obligation whatsoever in connection with the functionality or content of the Service, or to furnish any maintenance or support services with respect to the Service; (v) in the event of any failure of the Service to conform to any applicable warranty, you may be able to notify the applicable Mobile Participant to receive a refund of all or part of the amount you paid for the Service, if any (to the maximum amount permitted by applicable law, Mobile Participants will have no other warranty obligation whatsoever with respect to the Service); (vi) Mobile Participants are not responsible for addressing any claims, losses, liabilities, damages, costs or expenses by you or a third party relating to the Service or your possession, access, visitation and/or use of the Service, including without limitation (a) product liability claims; (b) any claim that the Service fails to conform to any applicable legal or regulatory requirement; and (c) claims arising under consumer protection or similar legislation; and (vii) in the event of any third party claim that the Service or your possession, access, visitation and/or use of the Service, infringes such third party&#8217;s intellectual property rights, Mobile Participants are not responsible for the investigation, defense, settlement and/or discharge of such claim.</p>
</li>
<li>
<h3>Disputes and Jurisdiction:</h3>
<ol type="i">
<li>
<p>The Service is based in the United States. It is not designed, customized or intended for, or directed to, any other country. Those who choose to access, visit and/or use the Service do so on their own initiative and are responsible for compliance with local laws, if and to the extent local laws are applicable. We make no representation, warranty or guarantee that the Service, or any merchandise, products, services, and/or Content available on or through the Service are appropriate, available, or legal in any particular geographic location.</p>
</li>
<li>
<p>In any dispute between us, your sole remedy is to stop using your account/profile and/or the Service, including without limitation cancelling any Fee-based services. This includes any dispute related to or arising out of: (i) rules, restrictions, limitations, terms and conditions that apply to the Service, whether listed in this User Agreement and Privacy Policy, posted at various points in the Service, or otherwise communicated to you, including our enforcement, non-enforcement, or application of any such rules; (ii) any of our policies and/or practices, including our enforcement, non-enforcement, or application of any such policies and/or practices; (iii) any Content available on or through the Service, or any edits, deletions, additions, or other changes thereto; (iv) your ability or inability to access, visit and/or use portions of the Service, or the Service as a whole, or features, functionality, and/or Content available on or through the Service; or (v) the amount, type, and/or basis for determining any Fees, any changes thereto, or additional Fees.</p>
</li>
<li>
<p>You agree that in the event of any dispute between us, you will first contact us and make a good faith sustained effort to resolve the dispute before resorting to more formal means of resolution, including without limitation any court action. In the event of any court action, all disputes will be resolved individually, without resort to any class action, and you specifically waive your right to a trial by jury. Furthermore, you agree that any cause of action must commence within one (1) year after the underlying issue first arose; otherwise, you waive any right to bring such cause of action and such cause of action is permanently barred.</p>
</li>
<li>
<p>You agree that, regardless of where you access, visit and/or use the Service, all issues concerning the construction, validity, interpretation and enforceability of the Agreement shall be governed and construed in accordance with the laws of the United States, in the particular State where the Service is headquartered, without regard to any principles of conflict of laws. Any disputes that result in court action will be resolved exclusively by a state or federal court located in the U.S. State where the Service is headquartered, and you specifically consent to the personal jurisdiction of such courts and waive any claim of forum non-conveniens. Should there be a conflict between the laws of the U.S. State where the Service is headquartered, and any other laws, the conflict will be resolved in favor of the laws of such U.S. State where the Service is headquartered. To the extent permitted by applicable law, all judgments or awards shall be limited to actual out-of-pocket damages (excluding attorneys&#8217; fees) and shall not include any indirect, punitive, incidental and/or consequential damages.</p>
</li>
<li>
<p>If for any reason a court of competent jurisdiction finds any provision of the Agreement, or portion thereof, to be invalid or unenforceable, that provision or portion will be enforced to the maximum extent permissible so as to effect the intent of the parties, and the remainder of the Agreement will continue to be valid and enforceable in full force and effect.</p>
</li>
</ol>
</li>
<li>
<h3>General:</h3>
<ol type="i">
<li>
<p>We reserve the right to post, from time to time, additional rules that apply to certain portions of the Service, or the Service as a whole. Such additional rules will be posted in the relevant portions of the Service, and are hereby incorporated into the Agreement by this reference. Your continued access, visitation and/or use of the Service constitutes your agreement to comply with these additional rules.</p>
</li>
<li>
<p>The rules, restrictions, limitations, terms and conditions that apply to the Service, whether listed in this User Agreement and Privacy Policy, posted at various points in the Service, or otherwise communicated to you, constitutes the Agreement and entire understanding between the parties, and supersedes prior agreements between the parties, whether oral or written, with respect to the subject matter hereof. Unless explicitly stated in writing by us, any new or additional features, functionality, or Content that augment or enhance the Service, including the release of updates, upgrades, new products and/or services, shall be subject to the terms and conditions of the Agreement.</p>
</li>
<li>
<p>Any delay or failure by us to exercise or enforce any right or provision of the Agreement will not constitute a waiver of such right or provision. No waiver by us shall have effect unless such waiver is set forth in writing, signed by us; nor shall any such waiver of any breach or default constitute a waiver of any subsequent breach or default.</p>
</li>
<li>
<p>We may sub-license, transfer, sell or assign the Agreement, and/or any of our purported obligations hereunder, at any time to any person or entity, with or without notice. You may not sub-license, transfer, sell, or assign the Agreement at any time to any person or entity, and any attempt to do so will be null and void.</p>
</li>
</ol>
</li>
</ol>
</li>
<li>
<h2>PRIVACY POLICY</h2>
<p><a name="privacy"></a></p>
<ol>
<li>
<h3>The Type of Information the Service Collects:</h3>
<ol type="i">
<li>
<p>The following Privacy Policy summarizes the various ways we treat personally identifiable and other information about you and your computer, mobile or other device when you access, visit and/or use the Service. This Privacy Policy does not cover information collected elsewhere, including without limitation offline and on sites, applications, destinations, or services linked to from the Service.</p>
</li>
<li>
<p>The Service generally collects personally identifiable information with your specific knowledge and consent. For instance, when you enter a sweepstakes or contest, complete a survey, make a purchase, subscribe to our publication(s), register for certain services, or register and/or set up an account/profile to access, visit and/or use certain portions of the Service, or the Service as a whole, you may be provided, or required to choose, a password and/or User ID, and you may provide a credit, debit, or charge card number, or other payment information, as well as your name, telephone number(s), email and/or street address, and other personally identifiable information. Other information such as your age, gender, an avatar, and the number for your mobile or other device may also be requested. In addition, you may be asked to send us similar information via messaging (e.g., email, SMS, MMS, or other technologies). All such information shall be referred to in this Privacy Policy as your &#8220;Registration Information&#8221;.</p>
</li>
<li>
<p>Our servers may also automatically collect information about you, your online behavior and your computer, mobile or other device. The information collected may include, without limitation, the make, model, settings, specifications (e.g., CPU speed, connection speed, browser type, operating system, device identifier) and geographic location of you and/or your computer, mobile or other device, as well as date/time stamp, IP address, pages visited, time of visits, content viewed, ads viewed, the site(s), application(s), destination(s), and/or service(s) you arrived from, and other clickstream data.</p>
</li>
<li>
<p>If you choose to access, visit and/or use any third party social networking service(s) that may be integrated with the Service, we may receive personally identifiable information and other information about you and your computer, mobile or other device that you have made available to those services, including information about your contacts on those services. For example, some social networking services allow you to push content from our Service to your contacts or to pull information about your contacts so you can connect with them on or through our Service. Some social networking services also will facilitate your registration for our Service or enhance or personalize your experience on our Service. Your decision to use a social networking service in connection with our Service is voluntary. However, you should make sure you are comfortable with the information your third party social networking services may make available to our Service by visiting those services&#8217; privacy policies and/or modifying your privacy settings directly with those services. We reserve the right to use, transfer, assign, sell, share, and provide access to all personally identifiable information and other information about you and your computer, mobile or other device that we receive through third-party social networking services in the same ways described in this Agreement as all of your other information.</p>
</li>
</ol>
</li>
<li>
<h3>How the Service Uses Information About You:</h3>
<ol type="i">
<li>
<p>We use personally identifiable information you supply through the Service to provide you with the merchandise, product, service, and/or Content you have requested. For example, if you subscribe to any of our publications, we may use your e-mail address to send you a confirmation notice and your mailing address to send you the publication. Similarly, if you enter an online sweepstakes, we will use this information to notify you if you are a winner. We may also use the information to communicate with you about new features, products or services, and/or to improve the services that we offer by tailoring them to your needs.</p>
</li>
<li>
<p>Unless otherwise specified on the Service, we may sell or share information about you and your computer, mobile or other device, including without limitation your Registration Information and other personally identifiable information, with our parent, subsidiaries, and affiliates and with carefully selected companies who we think may offer services and/or products that may be of interest to you. If you do not wish to have your personally identifiable information shared with unaffiliated third parties, contact our Privacy Policy Coordinator as described at the end of this document. If you do not wish to receive future commercial messages from us, simply follow the unsubscribe instructions contained within the message you receive. (But note that you may continue to receive certain communications from us, such as transactional or relationship messages, and/or messages about your account/profile). If you&#8217;ve registered on any part of the Service, please use the mechanism or contact information on the Service that allows you to change or update your member preferences or information, if available, to keep all such data accurate and up-to-date. If no such mechanism or contact information is available on the Service, contact our Privacy Policy Coordinator as described below with your changes.</p>
</li>
<li>
<p>We may also allow access to our database by third parties that provide us with services, such as technical maintenance, market research, community and forums management, auction services, and shopping, personal/job search and other classified ads functionality, but only for the purpose of and to the extent necessary to provide those services. And if you choose to purchase merchandise, products and/or services, including without limitation Content, on or through features on the Service, we may forward your information to third parties for services such as credit card or other payment processing, order fulfillment, credit pre-authorization, and address verification. There are also times when you provide information about yourself to us in areas of the Service that may be managed or participated in by third parties. In such cases, the information may be used by us and by such third party(ies), each pursuant to its own policies. We may also provide your information to our advertisers, so that they can serve ads to you that meet your needs or match your interests. While we may seek to require such third parties to follow appropriate privacy policies and will not authorize them to use this information except for the express purpose for which it is provided, we do not bear any responsibility for any actions or policies of third parties.</p>
</li>
<li>
<p>We reserve the right to access, use, and share with others your personally identifying information for purposes of health, safety and other matters in the public interest.</p>
</li>
<li>
<p>We may also provide access to our database in order to cooperate with official investigations or legal proceedings initiated by governmental and/or law enforcement officials, as well as private parties, including, for example, in response to subpoenas, search warrants, court orders, or other legal process.</p>
</li>
<li>
<p>In addition, we reserve the right to use the information we collect about your computer, mobile or other device (including its geographic location), which may at times be able to identify you, for any lawful business purpose, including without limitation to help diagnose problems with our servers, to gather broad demographic information, analyze trends, track users&#8217; movements around the Service, and to otherwise administer the Service. Geographic location information about you and/or your computer, mobile or other device may specifically be used to show you content and sponsored messaging based on geographic location.</p>
</li>
<li>
<p>We reserve the right to use, transfer, sell, and share aggregated, anonymous data about our users as a group for any lawful business purpose, such as analyzing usage trends and seeking compatible advertisers, sponsors, clients and customers.</p>
</li>
<li>
<p>In addition, as our business changes, we may buy or sell various assets. In the event all or a portion of the assets owned or controlled by us, our parent or any subsidiary or affiliated entity are sold, assigned, transferred or acquired by another company, the information from and/or about our Service users may be among the transferred assets.</p>
</li>
<li>
<p>We reserve the right to identify you from your Registration Information and/or to merge or co-mingle anonymous or non-personally identifiable data about you, your offline and online behavior, and/or your computer, mobile or other device (including its geographic location), with your Registration Information and/or other personally identifiable data for any lawful business purpose.</p>
</li>
</ol>
</li>
<li>
<h3>Local Device Storage and other Tracking Technologies; Do Not Track (DNT):</h3>
<ol type="i">
<li>
<p>The Service will at times place and/or store code or other types of information and/or devices (e.g., &#8220;cookies&#8221;) on your computer, mobile or other device (&#8220;Local Device Storage&#8221;). We may use Local Device Storage for any lawful business purpose, including without limitation to determine which of our messages have been opened by recipients so we can gauge the effectiveness of marketing campaigns, to control the display of ads, to track usage patterns, the movements of individual users, and your geographic location, to help diagnose problems with our servers, to gather broad demographic information, to analyze trends, to conduct research, to deliver editorial content, to record registration and personalization information, and to otherwise administer the Service. For example, if you register on any part of the Service and are given the option to save your user name and password, we may provide this convenience to you via Local Device Storage. Local Device Storage may also collect and store your personally identifiable information, which may be shared with our parent, subsidiaries, and affiliates and other companies.</p>
</li>
<li>
<p>If you do not want Local Device Storage, your computer, mobile or other device may include an option that allows you to not accept it. However, if you disable Local Device Storage, some portions of the Service may not function properly.</p>
</li>
<li>
<p>In addition to Local Device Storage, we may use web beacons, web bugs, clear gifs, and similar technologies (collectively, together with Local Device Storage, the &#8220;Tracking Technologies&#8221;). We use Tracking Technologies for all or some of the same lawful business purposes we describe above for use of Local Device Storage.</p>
</li>
<li>
<p>As discussed below, you may opt out of third party tracking on the Service at any time. However, we do not currently support any browser based Do Not Track (DNT) settings or participate in any DNT frameworks, and we do not assign any meaning to any potential DNT track signals you may send or alter any of our data collection or use practices in response to such signals.</p>
</li>
</ol>
</li>
<li>
<h3>How to Opt-Out of Third Party Tracking Technologies:</h3>
<p>Our advertising service vendors and other third parties will at times also use Tracking Technologies to serve you advertisements tailored to interests you have shown by browsing on this Service and other sites, applications, destinations, and services you have visited, and to determine whether you have seen a particular advertisement before to avoid sending you duplicate advertisements, and for other lawful business purposes. In doing so, these third parties will collect non-personally identifiable data including for example the make, model, settings, specifications (e.g., CPU speed, connection speed, browser type, operating system, device identifier) and geographic location of your computer, mobile or other device, as well as date/time stamp, IP address, pages visited, time of visits, content viewed, ads viewed, the site(s), application(s), destination(s), and/or service(s) you arrived from, and other clickstream data. The use of Tracking Technologies by third parties is subject to their own privacy policies, not this Privacy Policy, and we have no responsibility or liability in connection therewith. If you do not want the services that Tracking Technologies provide, you may be able to opt-out by visiting <a href="http://www.aboutads.info">http://www.aboutads.info</a>.</p>
</li>
<li>
<h3>Transfer of Information:</h3>
<p>Your information may be transferred to, and maintained on, servers and databases located outside of your state, province, country or other governmental jurisdiction where the privacy laws may not be as protective as your jurisdiction. Please be advised that we may transfer your information to and from any state, province, country or other governmental jurisdiction, and process it in the United States or elsewhere. Your consent to this Privacy Policy followed by your submission of such information represents your agreement to any such transfer.</p>
</li>
<li>
<h3>Information Security and Notification:</h3>
<ol type="i">
<li>
<p>Because no data transmission is completely secure, and no system of physical or electronic security is impenetrable, we cannot guarantee the security of the information you send to us or the security of our servers, networks or databases, and by using the Service you agree to assume all risk in connection with the information sent to us or collected by us when you access, visit and/or use the Service, including without limitation your personally identifiable information or other Registration Information, and we are not responsible for any loss of such information or the consequences thereof.</p>
</li>
<li>
<p>Moreover, if you elect to store information, such as your personally identifiable information or other Registration Information, where others may access it, we are not responsible for any loss of such information or the consequences thereof. If you lose a computer, mobile or other device, or it is stolen, that contains your personally identifiable information or other Registration Information, it is up to you to take all the steps necessary to protect yourself.</p>
</li>
<li>
<p>In the unlikely event that we believe that the security of your information in our possession or control may have been compromised, we may seek to notify you. If notification is appropriate, we may notify you via your computer, mobile or other device.</p>
</li>
</ol>
</li>
<li>
<h3>Kids and Parents:</h3>
<ol type="i">
<li>
<p>This Service is not intended for use by children, especially those under age 13. No one under age 13 is allowed to register for the Service or provide any personally identifiable information or use our social, community and public discussion areas, photo and video galleries, bulletin boards, forums, chats, blogs, personal/job search and other classified ads, and elsewhere. Minors between the ages of 13 and 17, inclusive, must get the permission of their parent(s) or legal guardian(s) before making purchases, including subscriptions, on this Service.</p>
</li>
<li>
<p>If your children disclose information about themselves in publicly accessible areas of the Service, they may get unsolicited messages from other parties. Accordingly, you should tell them not to do so.</p>
</li>
<li>
<p>If you&#8217;re worried about your children&#8217;s activities or their privacy on the Service, we encourage you to contact our Privacy Policy Coordinator as described below.</p>
</li>
</ol>
</li>
</ol>
</li>
</ol>
					<div style="clear:both;"></div>
				</article>
</div>