<% if flash[:notice] %>
    <p class="alert alert-info flash-notice text-center" role="alert" ><%= flash[:notice].html_safe %></p>
<% end %>

<div class="sign-up-container background-image">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="container user-form-container">
      <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header text-center shadow form-header">
            <h4> Log In </h4>
            <!-- <div class="social-line">
              <a href="<%= user_google_oauth2_omniauth_authorize_path %>" class="btn sign-up-social"><i class="fa fa-google" aria-hidden="true"></i></a>
              <a href="<%= user_facebook_omniauth_authorize_path %>" class="btn sign-up-social"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            </div> -->
          </div>
          <div class="card-block">
            <!-- <div class="text-center">
              Or
            </div><br> -->
            <div class="field form-group">
              <%= f.label :email, :class => "mandatory-asterisk" %><br />
              <%= f.email_field :email, :class => 'form-control'%>
            </div>
            <div class="field form-group">
              <%= f.label :password, :class => "mandatory-asterisk"%>
              <%= f.password_field :password, autocomplete: "off", :class => 'form-control'%>
            </div>
            <div class="form-group">
              <%= f.submit "Log In", :class => 'btn btn-default shadow'%>
            </div>
            <div class="reverse-sign">
              <%= link_to "Don't have an account?", new_registration_path(resource_name) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>