<div class="sign-up-container background-image">
  <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :invitation_token %>
    <div class="container user-form-container">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header text-center shadow form-header">
            <h4> Complete Your Sign Up </h4>
          </div>
          <div class="card-block">
            <div class="text-center form-group">
              <%= image_tag "//s3.eu-west-2.amazonaws.com/belooga/Images/placeholder.png", :class => 'user-avatar img-thumbnail' %>
              <%= f.file_field :picture, :class => 'form-control'%>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="field form-group">
                  <%= f.label :name , :class => "mandatory-asterisk"%><br />
                  <%= f.text_field :name, autofocus: true, :class => 'form-control'%>
                </div>
              </div>
            </div>
            <% if f.object.class.require_password_on_accepting %>
              <div class="row">
                <div class="col-lg-6">
                  <div class="field form-group">
                    <%= f.label :password, :class => "mandatory-asterisk"%>
                    <%= f.password_field :password, autocomplete: "off", :class => 'form-control'%>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="field form-group">
                    <%= f.label :password_confirmation, :class => "mandatory-asterisk" %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control'%>
                  </div>
                </div>
              </div>
            <% end %>
            <div class="form-group">
              <%= f.submit "Sign up", :class => 'btn btn-default shadow'%>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>