<div class="container padding-top padding-bottom">
  <h2>Do you have anything for us? Let us know!</h2>
  <%= form_for @feedback, :url => feedbacks_path, html: { multipart: true } do |f| %>
    <% if @feedback.errors.any? %>
      <div id="error_explanation">
        <h4><b><%= pluralize(@feedback.errors.count, "error") %> non permettono al form di essere inviato</b></h4>
        <ul>
        <% @feedback.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, class: "form-control" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="form-group">
          <%= f.label :feedback_type %>
          <%= f.select(:feedback_type, ['Feature Request', "Feedback", "Information"], {}, { :class => 'form-control' }) %>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <%= f.label :message %>
          <%= f.text_area :body, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="actions">
      <%= f.submit 'Submit', class: "btn" %>
    </div>
  <% end %>
</div>