<% content_for :head do %>
    <title> <%= @city.name %> | Belooga </title>
    <meta name="description" content="<%= @city.description || 'Belooga is the first online platform that will help digital nomads in finding a place where to live' %>"/>
    <meta name="keywords" content="Accommodation for digital nomads, digital nomad accommodation, digital nomad apartment, <%= @city.name %>"/>
<% end %>
<div class="container-fluid hero-container parallax" style="background-image:url(https://source.unsplash.com/featured/?<%= @city.name %>)">
  <div class="container hero-content">
    <div class="row">
      <div class="col-12">
          <h1> <%= @city.name %></h1>
      </div>
    </div>
    <div class="row">
      <div class=" col-12 btn-stripe">
          <h3> <%= @city.description || "A city for Nomads" %> </h3>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</div>
<div class="container-fluid top-picks-container page-section">
  <h2 class='text-center page-section-header'> Laptop-friendly homes in <%= @city.name %> </h2>
    <div class="row">
      <% @apartments.each_with_index do |apartment, i| %>
        <% if apartment.pictures != [] %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card top-picks-card">
              <% if  apartment.pictures.first.direct_uri %>
                <div class="top-picks-img" style="background-image: url(<%= apartment.pictures.first.direct_uri %>);"></div>
              <% else %>
                <div class="top-picks-img" style="background-image: url(<%= apartment.pictures.first.image.url%>);"></div>
              <% end %>
              <h3 class="text-center"> <%= apartment.city.name if apartment.city.name %> </h3>
              <div class="cta-holder text-center">
                <a href="<%= apartment_path(apartment)%>">
                  <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
                </a>
              </div>
              <div class="apt-meta text-center">
                <span> <%= apartment.name.capitalize %> </span><br>
                <span> <%= apartment.avg_price %>$/month </span>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
</div>
