html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
    color: #1a3438;
    font-size: 16px;
    line-height: 25px;
    text-transform: initial;
}

body.modal-open{
  padding-right: 0 !important;
}

@keyframes slideInFromLeft {
  0% {
    transform:§ translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.modal{
  top: 200px;
}

.pac-container {
    z-index: 1051 !important;
}

.modal-open .modal{
  overflow-y: visible;
  overflow-x: visible;
}

.modal-header{
  margin-left: 30px;
  margin-right: 30px;
  background: #029587;
  border-radius: 5px;
  margin-top: -30px;
  border: none;
}

.modal-header .modal-title{
  width: 100%;
}

.modal .modal-body{
  padding: 30px;
}

.nav-tabs .nav-link{
  color: #464a4c;
  font-size: 16px;
}

.btn{
  border-radius: 30px;
  cursor: pointer;
}

.btn.btn-default {
  color: white;
  background-color: #00AE9D;
  border: none;
  display: block;
  margin: 0 auto;
  line-height: 25px;
}

.btn.btn-default:hover{
  background-color: #029587;
  cursor: pointer;
}

.thank-you-btn{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 30px;
}

.thank-you-hero{
  padding-top: 30px;
  padding-bottom: 30px;
}

.thank-you-hero h1{
  font-size: 28px;
}

.text-dark-bg{
  color: white;
}

.admin-link{
  position: absolute;
}

.row{
  margin-left: 0px;
  margin-right: 0px;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.padding-top{
  padding-top: 30px;
}

.padding-bottom{
  padding-bottom: 30px;
}

.padding{
  padding-top: 30px;
  padding-bottom: 30px;
}

.padding-15{
  padding-top: 15px;
  padding-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .padding-top{
    padding-top: 30px;
  }

  .padding-bottom{
    padding-bottom: 30px;
  }
}
.shadow{
  -webkit-box-shadow: 0px 11px 36px 1px rgba(0,0,0,0.31);
  -moz-box-shadow: 0px 11px 36px 1px rgba(0,0,0,0.31);
  box-shadow: 0px 11px 36px 1px rgba(0,0,0,0.31);
}

.belooga-navbar{
  -webkit-box-shadow: 0px 11px 36px 1px rgba(0,0,0,0.31);
  -moz-box-shadow: 0px 11px 36px 1px rgba(0,0,0,0.31);
  box-shadow: 0px 11px 36px 1px rgba(0,0,0,0.31);
  position: relative;
  background: #029587;
  width: 100%;
  z-index: 10;
}

.navbar-inverse .navbar-nav .nav-link{
  text-transform: uppercase;
}

@media screen and (max-width: 992px) {
  .hide-992{
    display: none;
  }
}

.hide-768{
  display: block;
}

@media screen and (max-width: 768px) {
  .hide-768{
    display: none;
  }
}

.show-992{
  display: block;
}

.apt-show-section {
  margin-top: 30px;
  border-bottom: 1px solid #ededed;
  padding-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .apt-show-section .apartment-name{
    font-size: 38px;
    text-align: center;
  }
}


.apt-show-section h4{
  padding-bottom: 0px;
  font-weight: bold;
  color: #029587;
}

.workfrom .venue{
  padding-bottom: 7px;
}

.workfrom .venue img{
  margin-right: 7px;
  height: 50px;
  width: 50px;
}

.apt-show-section h5{
  text-transform: capitalize;
}

@media screen and (min-width: 993px) {
  .show-992{
    display: none;
  }
}


.form-control{
  color: #353535;
}

/* Hero CSS */
.container-fluid.hero-container{
  background-size:cover;
  height: 85vh;

}

.home-hero{
  background-image: url(https://source.unsplash.com/featured/?beach);
}

.jumbotron-fluid{
  padding:0;
}

.user-form-container{
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 0;
}

.uploaded-by-container{
  position: absolute;
  z-index: 1;
  top: 15px;
  background: #ededed;
  left: 15px;
  padding: 5px 10px 5px 10px;
  border-radius: 3px;
}

.uploaded-by-container:after{
  content: attr(data-content);
  background-color:#0275d8;
  color: white;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -10px;
}

.say-thanks{
  background: green;
  border-radius: 50%;
  position: absolute;
  z-index: 10;
  left: 15px;
  top: 60px;
  width: 50px;
  height: 50px;
  font-size: 38px;
  padding-left: 8px;
  padding-top: 4px;
  color: white;
  cursor: pointer;
}

.social-share-box{
  position: absolute;
  z-index: 1;
  top: 15px;
  right: 15px;
}

@media screen and (max-width: 768px) {
  .uploaded-by-container{
    margin: auto;
    left: 0;
    right: 0;
    border-radius: 3px;
    width: 60%;
    text-align: center;
  }

  .social-share-box{
    top: 60px;
    margin: auto;
    left: 0;
    right: 0;
    border-radius: 3px;
    text-align: center;
  }
}

.user-avatar{
  height: 200px;
  width: 200px;
  margin-bottom: 30px;
}

.parallax {
    text-align:center;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed!important;
    overflow:hidden;
}

.parallax-pattern-overlay {
    background-image:url(../img/pattern.png);
    background-repeat:repeat;
}

.hero-container h1{
	padding-top: 10%;
	font-size: 64px;
	color: white;
  line-height: 64px;
}

/* End Hero CSS*/

/* hidden and show classes*/

.hidden{
	display: none !important;
}

.absolute{
  position: absolute;
}

.show{
	display: block;
}

/* Footer */

#myFooter {
    background-color: #029587;
    color: white;
    padding-top: 30px;
}

#myFooter .footer-copyright {
    background-color: #1a3438;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .made-with-love {
    background-color: #fff;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: white;
}

#myFooter .made-with-love p {
    margin: 10px;
    color: #353535;
}

#myFooter .made-with-love .fa.fa-heart{
  color: red;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: #1a3438;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#myFooter a {
    color: white;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#myFooter .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .instagram:hover {
    color: #417399;
}

#myFooter .twitter:hover {
    color: #00aced;
}

#myFooter .btn {
    color: white;
    background-color: #1a3438;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

.hero-content{
  z-index: 100;
}

.hero-container .btn-stripe{
  margin-top: 60px;
}

.btn-white-border{
  background: none;
  border: 1px solid #fff;
  color: #fff;
}

.btn-white-border:hover{
  background: #fff;
  border: 1px solid #fff;
  color: #353535;
}

.btn-hg{
  float: none;
  margin-right: 20px;
  margin-bottom: 20px;
  display: inline-block;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 100;
  padding-top: 12px;
  padding-right: 30px;
  padding-bottom: 12px;
  padding-left: 30px;
}

@media screen and (max-width: 768px) {
  .hero-container h1{
    font-size: 27px;
    line-height: 32px;
  }

  .btn-stripe{
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%) translatey(-50%);
    -moz-transform: translateX(-50%) translatey(-50%);
    transform: translateX(-50%);
  }

  .btn-hg{
    margin-right: 0px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}

/* End Footer*/

// InfoBox Styling

.info-box-wrap {
  background:#fff;
  overflow: hidden;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.08);
}
.info-box-text-wrap {
  height:60px !important;
  width:100%;
  float:left;
  margin: 10px 10px 10px 10px;
}
.action-btns {
  width:100%;
  overflow: hidden;
  position: relative;
}
.action-btns i {
  font-size: 18px;
  color: #78A737;
  margin-left: 3px;
}
.action-btns i:hover {
  transition: color 0.5s ease;
  color:#ccc;
  cursor: pointer;
}
.action-btns i.fa-heart-o {
  font-weight: bold;
}
.info-box-text-wrap h6.address {
  padding:6px 5px 1px 0;
  margin:0 0 0 0;
  font-family:"Roboto Slab";
  color: #0c99c8;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.info-box-text-wrap p {
  padding:0 0 0 0;
  margin:0 0 0 0;
}
.info-box-text-wrap p.price {
  color:#B25B00;
}

.info-box-wrap  img {
  max-width:100% !important;
  margin-right: 10px;
  padding-top:0;
  margin-top:0;
  width: auto;
}

// End infobox styling

.container .slider-container{
  padding-top: 30px;
  height: 100%;
  width: 100%;
}

#apartment-slideshow{
  max-width: 100%;
  height: 80vh;
}

.carousel-item img{
  width: 100%;
  height: 60vh;
}

.carousel-item a{
  width: 100%;
  height: 80vh;
}

.quick-info-bar{
  background-color: #ededed;
  margin: -30px 30px 30px 30px;
  padding-top: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  z-index: 10;
}

.quick-info-bar .wifi-badge{
  height: 50px;
  width: 50px;
}

.light-grey{
  background: #ededed;
}
.apartments-box{
  padding-left: 0px;
  padding-right: 0px;
}

.filters-container{
  padding-top: 30px;
  border-bottom: 1px solid #ededed;
}

.filters-btn{
  position: relative;
  margin: auto;
  margin-bottom: 15px;
}

.filter-box{
  margin-bottom: 30px;
}

.filter-label{
  font-weight: 600;
  color: #009587;
  text-transform: capitalize;
}

.info-section{
  padding-top: 4%;
  padding-bottom: 4%;
}

.list-group-item.active{
  background-color: #029587;
  border-color: #029587;
}

.list-container{
  padding-bottom: 30px;
  padding-right: 30px;
  padding-left: 30px;
}

.list-container a:link {
  text-decoration: none;
}

.map-container{
  padding-bottom: 30px;
  padding-right: 30px;
  padding-left: 30px;
}

.apartment-card{
  height: 300px;
  margin-top: 30px;
  transition: box-shadow .3s ease;
}

@media screen and (max-width: 767px) {
    .apartment-card{
      height: 100%;
      min-height: 500px;
    }

    .apartment-card .image-box{
      min-height: 200px;
    }

    .apartment-card .image-box .apartment-thumb{
      min-height: 200px;
    }
}

.jumbotron.jumbo-form{
  padding-top: 30px;
}

.avatar{
  max-width: 200px;
  padding-bottom: 30px;
}

.overlay {
  bottom:0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right:0;
  top:0;
  z-index: 1;
  background-image: url(//s3.eu-west-2.amazonaws.com/belooga/Images/pattern.png);
  background-repeat: repeat;
}

.hero-header{
  position: relative;
  z-index: 100;
}

.hero-btns{
  position: relative;
  z-index: 100;
}

.apartment-card .wifi-badge{
  position: absolute;
  top: -20px;
  left: -20px;
  width: 100px;
  z-index: 100;
}

.apartment-card .row{
  height: 100%;
}

.apartment-card .text-box{
  padding: 30px;
}

.apartment-card:hover{
    cursor: pointer;
}

.apartment-card .text-box .apartment-name{
  color: #029587;
  text-transform: uppercase;
  font-weight: 600;
}

.apartment-card .text-box .apartment-address{
  color: #353535;
  text-transform: capitalize;
}

.apartment-card .row.green-background{
  background: #00AE9D;
  color: white;
}

.show-link{
  color: #1a3438;
  cursor: pointer;
  text-decoration: underline;
  text-transform: none;
}

.show-link:hover{
  color: #0275d8;
}

.apartment-thumb{
  height: 100%;
  min-height: 300px;
  width: 100%;
  background-size: cover !important;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.apartment-card .image-box{
  overflow: hidden;
  padding-left: 0px;
  padding-right: 0px;
}

.image-box:hover .apartment-thumb,
.image-box:focus .apartment-thumb {
  transform: scale(1.2);
}

.amenity-label{
  text-transform: capitalize;
}

.amenities-list{
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;
  list-style: none;
  padding-left: 0px;
  padding-top: 15px;
}

.amenities-list span{
  text-transform: capitalize;
}

.amenities-list li{
  color: #353535;
}

.card.apartment-card{
  border: none;
}

.apartment-page.apartment-name{
  padding-top: 30px;
  color: #029587;
  font-weight: 600;
}

/* Upload Apartment Wizard */

.image-background-container{
  background: url('https://source.unsplash.com/1600x900/?beach');
  min-height: 100vh;
  min-width: 100%;
}

.wizard-container{
  top: 30px;
  padding: 30px;
  height: 60vh;
  opacity: 0.8;
}

.wizard-icon{
    font-size: 38px;
    color: #ededed;
    border: 2px solid #ededed;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding-top: 30px;
    position:relative;
    z-index: 2;
    background: white;
}

.wizard-icon.activated{
  background: #029587;
  color: white;
  border: 2px solid #029587;
}

.progress{
    width: 80%;
    position: absolute;
    top: 73px;
    z-index: 1;
}

.progress-bar{
  background: #029587;
  -webkit-transition: width 2s; /* Safari */
  transition: width 2s;
}

.wizard-steps-container{
  padding-top: 30px;
}

.wizard-btn{
  position: absolute;
  right: 15px;
}

.stepwizard { /* весь блок */
    display: table;
    width: 30px; /* ограничимся шириной .btn-square */
    height: 400px;  /* высота */
    position: fixed;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%); }

.stepwizard-row { display: table-row; }

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important; }

.stepwizard-row:before { /* линия */
    position: absolute;
    top: 0px; /* если нужно довести донизу – вместо него поставь bottom:0px ;*/
    content: " ";
    width: 1px;
    height: 70%; /* т.к. занимает 2 "ячейки" */
    background-color: #ccc; }

.stepwizard-step {   /* каждый из 3-ёх */
    display: table-cell;
    text-align: center;
    position: relative; left: -15px;
    z-index: 1; }

@media screen and (max-width: 768px) {
  .stepwizard{
    display: none;
  }
}

.btn-square {
  width: 30px; height: 30px;
  text-align: center; padding: 6px 0; font-size: 12px; line-height: 1.428571429; /* цифры внутри */ }

.file-upload-btn{
  position:absolute;
  z-index:2;
  top:0;
  left:0;
  filter: alpha(opacity=0);
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity:0;
  background-color:transparent;
  color:transparent;
}

.wifi-radio{
  margin-bottom: 15px;
  margin-top: 15px;
  padding:0;
  -webkit-appearance:none;
      -moz-appearance:none;
           appearance:none;
  width: 100px;
  height: 100px;
  background-size: cover;
  border-radius: 50%;
  cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

.wifi-radio:hover{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
    opacity: .9;
}

.wifi-radio:active {opacity: .9;}
.wifi-radio:checked{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}

.wifi-five{
  background-image: url('//s3.eu-west-2.amazonaws.com/belooga/Images/wifi-5.png');
}
.wifi-10{
  background-image: url('//s3.eu-west-2.amazonaws.com/belooga/Images/wifi-10.png');
}
.wifi-20{
  background-image: url('//s3.eu-west-2.amazonaws.com/belooga/Images/wifi-20.png');
}
.wifi-50{
  background-image: url('//s3.eu-west-2.amazonaws.com/belooga/Images/wifi-50.png');
}
.wifi-50-plus{
  background-image: url('//s3.eu-west-2.amazonaws.com/belooga/Images/wifi-50%2B.png');
}

.venue a{
  color: #1a3438;
}

.page-section{
  padding-top: 30px;
  padding-bottom: 30px;
}

.page-section-header{
  font-weight: bold;
  font-size: 38px;
  color: #029587;
}

.home-apt-card{
  width: 100%;
  margin-top: 30px
}

.apt-card-img{
  height: 100%;
  width: 100%;
  background-size: cover;
}

.apt-card-info{
  background: #009587;
  height: 100%;
  width: 100%;
  color: white;
}

@media screen and (max-width: 768px) {
  .page-section{
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .home-apt-card{
    margin-top: 15px
  }
}

.about-container{
  background: #EBF8FF;
}

.upload-apt-section{
  padding-top: 30px;
}

.mandatory::after {
    content: " *";
    color: red;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
}

@media screen and (max-width: 768px){
  .wifi-speed-label{
    display: none;
  }
}

.next-section{
  -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

#apartment-slideshow .apartment-name{
  position: absolute;
  top: 10%;
  font-size: 64px;
  color: white;
  left: 10%;
  z-index: 1;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

@media screen and (max-width: 768px){
  #apartment-slideshow .apartment-name{
    font-size: 28px;
    text-align: center;
  }

  #apartment-slideshow .apartment-name img{
    height: 50px !important;
  }
}
.btn-directions{
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.carousel-indicators{
  bottom: 40px;
}

.container.apartment-info-container .content{
  margin-top: -42px;
  background: white;
  min-height: 400px;
  margin-bottom: 30px;
}

.container.apartment-info-container .content .tab-content{
  padding-left: 30px;
  padding-right: 30px;
}

.apartment-page-info-stripe{
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ededed;
}

.apartment-page-info-stripe p{
  margin-bottom: 0px;
}

.apartment-page-info-stripe .col-12{
  padding-left: 0px;
}

.apartment-page-info-stripe .contact-detail{
  text-transform: capitalize;
}

.tab-pane#map{
  padding-bottom: 30px;
  padding-top: 30px;
}

.amenity-list .amenity{
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 0px;
  text-transform: capitalize;
}

.upload-apt.header-section{
  border-bottom: 1px solid #ededed;
  padding-bottom: 15px;
}

.top-picks-card {
  height: 300px;
  transition:all 0.1s;
  -webkit-transition:all 0.1s;
  -moz-transition: all 0.1s;
  overflow: hidden;
  margin-top: 30px;
}

.top-picks-img{
  background-size: cover;
  height: 100%;
  width: 100%;
  transition: all .5s;
}

.top-picks-card h3{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 30px;
  font-size: 38px;
  color: white;
}

.top-picks-card:hover .top-picks-img{
  transform: scale(1.5);
  filter: brightness(50%);
}

.apt-meta{
  position: absolute;
  bottom: -15px;
  height: 0px;
  background: #353535;
  width: 100%;
  color: white;
  padding-top: 15px;
}

.apt-meta span:first-child{
  font-size: 21px;
}

.top-picks-card:hover .apt-meta{
  display: block;
  -webkit-animation: expand 0.5s;
  height: 100px;
}

.cta-holder{
  opacity: 0;
  position: absolute;
  width: 100%;
  bottom: 150px;
}

.cta-holder a{
  color: white;
  font-size: 48px
}

.top-picks-card:hover .cta-holder{
  opacity:1.0;
  filter:alpha(opacity=100);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@-webkit-keyframes expand{
    0%{height:0px}
    100%{height:100px}
}

/* Coming Soon Page */

.half-page{
  height: 50vh;
  padding-top: 30px;
}

.about-hero{
  background-image: url(https://source.unsplash.com/RAtKWVlfdf4/1600x900);
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 150px;
}

.cta{
  line-height: 50px;
  color: #EE9900;
  font-weight: bold;
  font-size: 28px;
  text-transform: capitalize;
}

.info-cards{
  position:relative;
  z-index: 10;
  padding-bottom: 30px;
  margin-top: -30px;
}

.info-cards .card{
  padding-top: 30px;
  -webkit-box-shadow: 10px 9px 56px 1px rgba(0,0,0,0.44);
  -moz-box-shadow: 10px 9px 56px 1px rgba(0,0,0,0.44);
  box-shadow: 10px 9px 56px 1px rgba(0,0,0,0.44);
  height: 400px;
}

.card-title{
  color: #029587;
  font-weight: bold;
  text-transform: uppercase;
}

.info-cards .card img{
    height: 100px;
    width: 100px;
    margin: auto;
}

.half-page-hero h1{
  font-weight: bold;
}

.half-page-hero input{
  border-radius: 5px !important;
}

@media screen and (max-width: 991px){

  .half-page-hero{
    height: 50vh;
  }

  .half-page-hero h1{
    font-size: 28px;
  }

  .cta{
    font-size: 24px;
    line-height: 35px;
  }

  .half-page-hero h2{
    font-size: 21px;
    line-height: 25px;
  }

  .btn-stripe{
    width: 100%;
  }

  .info-cards{
    margin-top: 0px;
  }
  .info-cards .card{
    margin-top: 30px;
  }
}

.upload-apt-container{
  background: white;
  margin-bottom: 30px;
}

.upload-apt-section{
  border-bottom: 1px solid #ededed;
  padding-bottom: 15px;
  margin-top: 30px;
}

.upload-apt-container h4{
  text-transform: capitalize;
  color: #029587;
  font-size: 24px;
}

.progress-bar{
  background: #0275d8;
}

.progress{
  position: inherit;
  border-radius: 0px;
  width: 100%;
}

@media screen and (max-width: 768px){
  .wifi-col{
    margin-bottom: 30px;
  }
}

.page-section.made-easy-container{
  background-image: url(https://s3.eu-west-2.amazonaws.com/belooga/Images/made-easy.png);
  background-size: cover;
  height: 150px;
  background-position: center;
}

.page-section.made-easy-container h2{
  color: white;
  position: relative;
  z-index: 10;
  font-size: 65px;
}

@media screen and (max-width: 768px){
  .page-section.made-easy-container h2{
    font-size: 50px;
  }
}

.card .card-header.form-header{
  margin-left: 30px;
  margin-right: 30px;
  margin-top: -30px;
  height: 100px;
  background: #029587;
  border: none;
  border-radius: 5px;
}

.card .card-header .social-line{
  margin-top: 15px;
  text-align: center;
}

.social-line .sign-up-social {
    color: #FFFFFF;
    margin-left: 5px;
    margin-right: 5px;
}

.sign-up-container.background-image{
  background-image: url(https://source.unsplash.com/featured/?travel);
  background-size: cover;
}

.reverse-sign a{
  color: lightslategray;
}

.about-text{
  margin-top: -50px;
  margin-bottom: 50px;
  background: white;
  position: relative;
  z-index: 10;
  padding: 30px;
  border-radius: 5px;
}

.about-text p{
  text-transform: initial;
  font-size: 21px;
  line-height: 29px;
}

.meet-the-team-row{
  border-top: 1px solid #ededed;
  padding-top: 30px;
}

.meet-the-team-section{
  padding-bottom: 15px;
}

.team-bio{
  text-transform: initial;
}

.alert-info.flash-notice{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  width: 100%;
  top: 140px;
  width: 40%;
}

@media screen and (max-width: 768px){
  .alert-info.flash-notice{
    width: 80%;
  }
}
