<p> Hi, <%= @resource.email %></p>

<p> We have reviewed and approved the home you added.</p>

<p> We are very happy to welcome you onboard! Now in order to complete your registration process, please click the link below and set your name and password :)</p>

<p><%= link_to t("devise.mailer.invitation_instructions.accept"), accept_invitation_url(@resource, :invitation_token => @token) %></p>

<% if @resource.invitation_due_at %>
  <p><%= t("devise.mailer.invitation_instructions.accept_until", due_date: l(@resource.invitation_due_at, format: :'devise.mailer.invitation_instructions.accept_until_format')) %></p>
<% end %>

<p><%= t("devise.mailer.invitation_instructions.ignore").html_safe %></p>

<p> Ciao! </p>

<p>Andrea&Rosanna</p>
