<div class="col-md-3">
	<div class="form-group">
		<%= select_tag "contact_types[]", options_for_select(['Facebook Page','Website', "Email"], "Facebook Page"), class: "form-control", include_blank: true %>
	</div>
</div>
<div class="col-md-6">
	<div class="form-group">
		<%= text_field_tag "contact_values[]", nil, class: "form-control" %>
	</div>
</div>
<div class="col-md-1">
	<span class="btn btn-primary shadow add-contact-btn" data-toggle="tooltip" data-placement="top", title="Click to add more contact info"> <i class="fa fa-plus" aria-hidden="true"></i> </span>
</div>
<div class="col-md-2">
	<span class="btn btn-default shadow btn-next-section"> Next </span>
</div>