<div class="col-md-9">
	<div class="form-group">
		<%= text_field_tag "direct_uris[]", nil, class: "form-control" %>
	</div>
</div>
<div class="col-md-1">
	<span class="btn btn-primary shadow add-direct-uri-btn" data-toggle="tooltip" data-placement="top", title="Click to add more contact info"> <i class="fa fa-plus" aria-hidden="true"></i> </span>
</div>
<div class="col-md-2">
	<span class="btn btn-default shadow btn-next-section"> Next </span>
</div>