<style>
  body{
    background: #ededed;
  }
  .loader {
      border: 16px solid #f3f3f3; /* Light grey */
      border-top: 16px solid #3498db; /* Blue */
      border-radius: 50%;
      width: 120px;
      height: 120px;
      animation: spin 2s linear infinite;
  }

  @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  }
</style>
<%= form_for @apartment, :url => apartment_path(@apartment), html: { multipart: true } do |f| %>
  <div class="container upload-apt-container shadow">
    <section class="upload-apt-section active">
      <div class="row">
        <div class="col-md-4">
          <h4>
            What's the name of the place? We'll try to find as much information as possible.
          </h4>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-10 mandatory">
              <%= f.text_field :name, class: "form-control", required: true, placeholder: "Name"  %>
            </div>
            <div class="col-md-2">

            </div>
          </div>
         </div>
      </div>
    </section>
    <section class="upload-apt-section ">
      <div class="row">
          <div class="col-md-4">
            <h4>
              What kind of accommodation are you posting?
            </h4>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-5 mandatory">
                <div class="form-group">
                  <%= f.select(:apartment_type, ['Apartment Type','Studio', "Condo", "Villa", "Room", "Hotel/Hostel"], {}, { :class => 'form-control' }) %>
                </div>
              </div>
              <div class="col-md-5 mandatory">
                <div class="form-group">
                  <%= f.select(:bedrooms, ["Bedrooms",'0', "1", "2", "3", "4", "5+"], {}, { :class => 'form-control' }) %>
                </div>
              </div>
              <div class="col-md-2">

              </div>
            </div>
          </div>
      </div>
    </section>
    <section class="upload-apt-section ">
      <div class="row">
          <div class="col-md-4">
            <h4>
              Sounds cool! Where is it?
            </h4>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-7 mandatory">
                <div class="form-group">
                  <%= f.text_field :address, class: "form-control", required: true, placeholder: "Address" %>
                </div>
              </div>
              <div class="col-md-3 mandatory">
                <div class="form-group">
                  <%= text_field_tag :city, nil, class: "form-control", value: @apartment.city.name, required: true, placeholder: "City" %>
                </div>
              </div>
              <div class="col-md-2">

              </div>
            </div>
          </div>
      </div>
    </section>
    <section class="upload-apt-section ">
      <div class="row">
          <div class="col-md-4">
            <h4>
              Nice spot! Tell us a bit more about it
            </h4>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-5 mandatory">
                <div class="form-group">
                    <%= f.text_field :avg_price, class: "form-control", required: true, placeholder: "Price in USD per month" %>
                </div>
              </div>
              <div class="col-md-5 mandatory">
                <div class="form-group">
                  <%= f.text_area :description, class: 'form-control', required: true, placeholder: "Share your experience"  %>
                </div>
              </div>
              <div class="col-md-2">

              </div>
            </div>
          </div>
      </div>
    </section>
    <section class="upload-apt-section ">
      <div class="row">
          <div class="col-md-4">
            <h4>
              Let's see some pictures!
            </h4>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-10">
                <div class="form-group">
                  <%= file_field_tag "images[]", type: :file, multiple: true, class: 'form-control' %>
                </div>
              </div>
              <div class="col-md-2">

              </div>
              <div class="col-md-12">
                <div class="row gallery">
                  <% if @apartment.pictures != [] && @apartment.pictures.first.direct_uri %>
		      	  	    <% @apartment.pictures.each do |picture|%>
		      	  		    <div class='col-md-4'>
		      	  			    <img class='image-thumbnail' src="<%= picture.direct_uri %>" style='height:100px; width:100px'>
		      	  		    </div>
		      	  	    <% end %>
		      	      <% elsif @apartment.pictures %>
                    <% @apartment.pictures.each do |picture|%>
                      <div class='col-md-4'>
                        <img class='image-thumbnail' src="<%= picture.image.url %>" style='height:100px; width:100px'>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
      </div>
    </section>
    <section class="upload-apt-section ">
      <div class="row">
          <div class="col-md-4">
            <h4>
              How can people get in touch with the owner?
            </h4>
          </div>
          <div class="col-md-8">
            <div class="row contact-row">
              <% if @apartment.contacts %>
                <% @apartment.contacts.each_with_index do |contact, index| %>
                	<div class="col-md-3">
						<div class="form-group">
							<%= select_tag "contact_types[]", options_for_select(['Facebook Page','Website', "Email", "Phone Number"], contact.contact_type), class: "form-control", include_blank: true %>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<%= text_field_tag "contact_values[]", nil, class: "form-control", value: contact.value %>
						</div>
					</div>
					<div class="col-md-1">
						<% if index == @apartment.contacts.size - 1 %>
							<span class="btn btn-primary shadow add-contact-btn" data-toggle="tooltip" data-placement="top", title="Click to add more contact info"> <i class="fa fa-plus" aria-hidden="true"></i> </span>
						<% end %>
					</div>
					<div class="col-md-2">
					</div>
                <% end %>
              <% end %>
            </div>
          </div>
      </div>
    </section>
    <section class="upload-apt-section ">
      <div class="row">
        <div class="col-md-4">
          <h4>
            Now, let's speak amenities
          </h4>
          <p>
            Don't you know the wifi speed yet? Check it out <a href="http://www.speedtest.net/"> Here</a>!
          </p>
        </div>
        <div class="col-md-8 wifi-col">
          <div class="row">
            <div class="col-lg-2 text-center col-md-4">
              <%= f.radio_button :wifi_speed, '5', :checked => (@apartment.wifi_speed && @apartment.wifi_speed.speed == 5), class: "wifi-radio wifi-five", "data-toggle": "tooltip", "data-placement": "top", title: "Speed lower than 5Mbps"  %>
            </div>
            <div class="col-lg-2  col-md-4 text-center">
              <%= f.radio_button :wifi_speed, '10', :checked => (@apartment.wifi_speed && @apartment.wifi_speed.speed == 10), class: "wifi-radio wifi-10", "data-toggle": "tooltip", "data-placement": "top", title: "Speed lower than 10Mbps" %>
            </div>
            <div class="col-lg-2  col-md-4 text-center">
              <%= f.radio_button :wifi_speed, '20', :checked => (@apartment.wifi_speed && @apartment.wifi_speed.speed == 20), class: "wifi-radio wifi-20", "data-toggle": "tooltip", "data-placement": "top", title: "Speed lower than 20Mbps" %>
            </div>
            <div class="col-lg-2 col-md-4 text-center">
              <%= f.radio_button :wifi_speed, '50', :checked => (@apartment.wifi_speed && @apartment.wifi_speed.speed == 50), class: "wifi-radio wifi-50", "data-toggle": "tooltip", "data-placement": "top", title: "Speed lower than 50Mbps" %>
            </div>
            <div class="col-lg-2  col-md-4 text-center">
              <%= f.radio_button :wifi_speed, '51', :checked => (@apartment.wifi_speed && @apartment.wifi_speed.speed == 51), class: "wifi-radio wifi-50-plus", "data-toggle": "tooltip", "data-placement": "top", title: "Speed grater than 50Mbps" %>
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-12">
              <div class="col-md-12 mandatory">
                <div class="form-group">
                  <%= f.collection_check_boxes :amenities, Amenity.all, :id, :merge_name_icon do |b, index| %>
                    <div class="collection-check-box">
                      <% if @apartment.amenities.include?(Amenity.find_by_name(b.label.split(">")[1].split("<")[0].strip))%>
	                      <%= b.check_box({checked: true}) %>
	                  <%else%>
	                  	  <%= b.check_box %>
	                  <% end %>
	                  <%= b.label %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
      	<% if @apartment.pictures.any? && @apartment.pictures.first.direct_uri %>
      	  <% @apartment.pictures.each do |picture|%>
      	    <%= hidden_field_tag 'direct_uris[]', picture.direct_uri %>
      	  <% end %>
      	<% end %>
        <div class="col-md-12 text-center">
          <%= f.submit 'Submit', class: "btn btn-default shadow"%>
        </div>
      </div>
    </section>
  </div>
<% end %>
<div class="hidden" id="new-contact">
  <%= render partial: "contact", locals: {skill: false} %>
</div>
<div class="hidden" id="new-direct-uri">
  <%= render partial: "direct_uri", locals: {skill: false} %>
</div>
<div class="hidden" id="map">

</div>
<div class="loader"></div>
