<% content_for :head do %>
  <title> Apartments in  | Belooga - Accommodations for digital nomads></title>
<% end %>
<!-- Map Toggle To be Used in the future -->
<div class="container-fluid">
	<%= form_tag("/apartments/search",id: 'filter-form', method: 'get', remote: true ) do %>
		<div class="filters-container">
			<div class="row">
				<div class="col-lg-2 col-md-12">
					<div class="form-group">
			          <%= label_tag :city, "City", class: "filter-label" %>
			          <%= text_field_tag "city", @city, class: "form-control filter-option select-city" %>

			        </div>
				</div>
				<div class="col-lg-2 col-md-12">
					<div class="form-group">
			          <%= label_tag :wifi_speed, "Wifi Speed", class: "filter-label" %>
			          <%= select_tag "wifi_speed", options_from_collection_for_select(WifiSpeed.all, "speed", "message"), include_blank: true, class: "form-control filter-option" %>
			        </div>
				</div>
				<div class="col-lg-2 col-md-12">
					<div class="form-group">
					  <label class="filter-label"> Monthly Budged:  <span class="budget-value">0</span>$</label>
			          <%= range_field_tag :avg_price, 0, :in => 0..10000, :step => 100, class: "filter-option" %>
			        </div>
				</div>
				<div class="col-lg-2 col-md-12">
					<div class="form-group">
			          <%= label_tag :apartment_type, "Type", class: "filter-label" %>
			          <%= select_tag "apartment_type", options_for_select(["Studio", "Condo", "Villa", "Room", "Hotel/Hostel", "Other"]), include_blank: true, class: "form-control filter-option" %>
			        </div>
				</div>
				<div class="col-lg-2 col-md-12">
					<div class="form-group">
			          <%= label_tag :bedrooms, "bedrooms", class: "filter-label" %>
			          <%= select_tag "bedrooms", options_for_select(["1", "2", "3", "4", "5", "5+"]), include_blank: true, class: "form-control filter-option" %>
			        </div>
				</div>
				<div class="col-lg-2 col-md-12 text-center">
					<label></label>
					<span class="btn btn-default" style="width: 150px;" data-toggle="modal" data-target="#amenities-modal"> Amenities </span>
				</div>
				<!-- Modal -->
				<div class="modal fade" id="amenities-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h6 class="modal-title" id="exampleModalLabel">Choose Amenities</h6>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        <div class="form-check">
					 		<label class="filter-label"> Amenities </label><br>
					 		<% Amenity.all.each do |amenity| %>
					 			<label class="form-check-label amenity-label">
								    <%= check_box_tag "amenities[]", amenity.id, false, class: "form-check-input" %>
								    <%=amenity.name%>
								    <i class="<%= amenity.icon %>" aria-hidden="true"></i>
								 </label><br>
							<% end %>
					 	</div>
				      </div>
				      <div class="modal-footer">
				        <span class="modal-done btn btn-default" data-dismiss="modal" aria-label="Close"> Search </span>
				      </div>
				    </div>
				  </div>
				</div>
			</div>
		</div>
	<% end %>

	<div class="row" style="min-height: 300px;">
		<div class="col-md-12 col-lg-2">
		</div>
		<div class="col-lg-8 col-md-12 apartments-box">
			<div class="partial-container">
				<%= render "shared/list_container" %>
			</div>
		</div>
	</div>
</div>