<% content_for :head do %>
  <style>
    body{
      background: #ededed;
    }

    #loader-container{
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      top: 200px
    }

    #loader-container #loader {
  /*    border: 16px solid #029587;
      border-top: 16px solid #1a3438;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      animation: spin 2s linear infinite;*/
      position: absolute;
      top: 50px;
      margin: auto;
      left: 0;
      right: 0;
    }

    #loader-text{
      font-size: 21px;
      font-weight: bold;
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      top: 220px;
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/trix/0.10.2/trix-core.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/trix/0.10.2/trix.css" />
<% end %>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<%= form_for @apartment, :url => apartments_path, html: { multipart: true } do |f| %>
  <div id="upload-apt-container" class="container upload-apt-container shadow">
    <!-- <section class="upload-apt-section active">
      <div class="row">
        <div class="col-md-4">
          <h4>
            What's the name of the place? We'll try to find as much information as possible.
          </h4>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-10 mandatory">
              <%= f.text_field :name, class: "form-control", required: true, placeholder: "Name of the accommodation (e.g. The Siri Condo)"  %>
            </div>
            <div class="col-md-2">
              <span class="btn btn-default shadow btn-next-section"> Next </span>
            </div>
          </div>
         </div> 
      </div>
    </section> -->
    <section class="upload-apt-section invisible">
      <div class="row">
          <div class="col-md-4">
            <h4>
              What kind of accommodation are you posting?
            </h4>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-3 mandatory">
                <div class="form-group remove-blank">
                  <%= f.select(:apartment_type, ['Apartment Type','Studio', "Condo", "Villa", "Room", "Hotel/Hostel", "Other"], {}, { :include_blank => false, :class => 'form-control', :required => true }) %>
                </div>
              </div>
              <div class="col-md-3 mandatory remove-blank">
                <div class="form-group">
                  <%= f.select(:bedrooms, ['Beds','0', "1", "2", "3", "4", "5+"], {}, { :class => 'form-control', :required => true}) %>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <%= f.select(:home_owner, ['Are you the homeowner?','Yes', "Nope"], {}, { :class => 'form-control'}) %>
                </div>
              </div>
              <div class="col-md-2">
                <span class="btn btn-default shadow btn-next-section"> Next </span>
              </div>
            </div>
          </div>
      </div>
    </section>
    <section class="upload-apt-section invisible">
      <div class="row">
          <div class="col-md-4">
            <h4>
              Sounds cool! Where is it?
            </h4>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-7 mandatory">
                <div class="form-group">
                  <%= f.text_field :address, class: "form-control", required: true, placeholder: "Address" %> 
                </div>
              </div>
              <div class="col-md-3 mandatory">
                <div class="form-group">
                  <%= f.text_field :city, class: "form-control", required: true, placeholder: "City" %> 
                </div>
              </div>
              <div class="col-md-2">
                <span class="btn btn-default shadow btn-next-section"> Next </span>
              </div>
            </div>
          </div>
      </div>
    </section>
    <section class="upload-apt-section invisible">
      <div class="row">
          <div class="col-md-4">
            <h4>
              Nice spot! Tell us a bit more about it
            </h4>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-3 mandatory">
                <div class="form-group">
                    <%= f.text_field :avg_price, class: "form-control", required: true, placeholder: "Price in USD per month" %> 
                </div>
              </div>
              <div class="col-md-7">
                <div class="form-group">
                  <%= f.text_area :description, class: 'form-control', required: true, placeholder: "Share your experience"  %>
                  <!-- <input id="trix-editor" type="hidden" name="description">
                  <trix-editor input="trix-editor" style="height: 150px;"></trix-editor> -->
                </div>
              </div>
              <div class="col-md-2">
                <span class="btn btn-default shadow btn-next-section"> Next </span>
              </div>
            </div>
          </div>
      </div>
    </section>
    <section class="upload-apt-section invisible">
      <div class="row">
          <div class="col-md-4">
            <h4>
              Let's see some pictures!
            </h4>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-10">
                <div class="form-group">
                  <%= file_field_tag "images[]", type: :file, multiple: true, class: 'form-control' %>
                </div>
              </div>
              <div class="col-md-2">
                <span class="btn btn-default shadow btn-next-section"> Next </span>
              </div>
              <div class="col-md-10">
                <div class="row gallery">
                  
                </div>
              </div>
            </div>
          </div>
      </div>
    </section>
    <section class="upload-apt-section invisible">
      <div class="row">
          <div class="col-md-4">
            <h4>
              How can people get in touch with the owner?
            </h4>
          </div>
          <div class="col-md-8">
            <div class="row contact-row">
              <div class="col-md-3">
                <%= label_tag "Phone Number"%>
              </div>
              <div class="col-md-6 mandatory">
                <div class="form-group">
                  <%= text_field_tag :contact_phone, nil, class: "form-control", required: true %>
                </div>
              </div>
              <div class="col-md-1">
                <span class="btn btn-primary shadow hidden add-contact-btn" data-toggle="tooltip" data-placement="top", title="Click to add more contact info"> <i class="fa fa-plus" aria-hidden="true"></i> </span>
              </div>
              <div class="col-md-2">
                <span class="btn btn-default shadow btn-next-section hidden"> Next </span>
              </div>
              <%= render partial: "contact", locals: {skill: false} %>
            </div>
          </div>
      </div>
    </section>
    <section class="upload-apt-section invisible">
      <div class="row">
        <div class="col-md-4">
          <h4>
            Now, let's speak amenities
          </h4>
          <p>
            Don't you know the wifi speed yet? Check it out <a href="http://www.speedtest.net/" target="_blank"> Here</a>!
          </p>
        </div>
        <div class="col-md-8 wifi-col">
          <div class="row">
            <div class="col-lg-2 text-center col-md-4">
              <%= f.radio_button :wifi_speed, '5', class: "wifi-radio wifi-five", "data-toggle": "tooltip", "data-placement": "top", title: "Speed lower than 5Mbps" %>
            </div>
            <div class="col-lg-2  col-md-4 text-center">
              <%= f.radio_button :wifi_speed, '10', class: "wifi-radio wifi-10", "data-toggle": "tooltip", "data-placement": "top", title: "Speed lower than 10Mbps" %>
            </div>
            <div class="col-lg-2  col-md-4 text-center">
              <%= f.radio_button :wifi_speed, '20', class: "wifi-radio wifi-20", "data-toggle": "tooltip", "data-placement": "top", title: "Speed lower than 20Mbps" %>
            </div>
            <div class="col-lg-2 col-md-4 text-center">
              <%= f.radio_button :wifi_speed, '50', class: "wifi-radio wifi-50", "data-toggle": "tooltip", "data-placement": "top", title: "Speed lower than 50Mbps" %>
            </div>
            <div class="col-lg-2  col-md-4 text-center">
              <%= f.radio_button :wifi_speed, '51', class: "wifi-radio wifi-50-plus", "data-toggle": "tooltip", "data-placement": "top", title: "Speed grater than 50Mbps" %>
            </div>
            <div class="col-md-1">
              
            </div>
            <div class="col-md-12">
              <div class="col-md-12 mandatory">
                <div class="form-group">
                  <%= f.collection_check_boxes :amenities, Amenity.all, :id, :merge_name_icon do |b, index| %>
                    <div class="collection-check-box">
                      <%= b.check_box %>
                      <%= b.label %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <% if !current_user %>
          <div class="col-md-4 offset-md-4 text-center padding-bottom mandatory">
            <%= text_field_tag :invitation_email, nil, class: "form-control", required: true, placeholder: "Your Email Address" %>
          </div>
        <% end %>
        <div class="col-md-12 text-center">
          <%= f.submit 'Submit', class: "btn btn-default shadow"%>
        </div>
      </div>
    </section>
  </div>
  <div class="modal fade" id="accommodation-name-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header shadow text-center">
        <h6 class="modal-title" id="exampleModalLabel">What's the name of the place?</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <div class="form-group">
          <%= f.text_field :name, class: "form-control", required: true, placeholder: "Name of the accommodation (e.g. The Siri Condo)" %>
        </div>
      </div>
      <div class="modal-footer">
        <span class="btn btn-default apt-modal-search-btn"> Submit </span>
      </div>
    </div>
  </div>
</div>
<% end %>
<div class="hidden" id="new-contact">
  <%= render partial: "contact", locals: {skill: false} %>
</div>
<div class="hidden" id="new-direct-uri">
  <%= render partial: "direct_uri", locals: {skill: false} %>
</div>
<div class="hidden" id="map">
  
</div>
<script>
  $('#accommodation-name-modal').modal()

  if ($('.progress').length > 0){
    let progress = 0;
    console.log(progress);
    $(document.body).on('click', '.btn-next-section' ,function(){
      var parent = $(this).parentsUntil('.container').last();
      parent.next().removeClass('invisible').hide().fadeIn('3000');
      progress+=100/6
      $('.progress-bar').css('width', progress+"%");
      $(this).fadeOut('3000');
    });

    let progressPosition = $('.progress').offset().top

    $(window).on('scroll', function(){
      if ($(window).scrollTop() > progressPosition){
        $('.progress').css('position','fixed').css('top', '0');
      }
      if ($(window).scrollTop() < progressPosition){
        $('.progress').css('position','inherit');
      }
    });
  }
</script>
<div id="loader-container" class="text-center hidden">
  <!-- <div id="loader"></div> -->
  <img id="loader" src="https://farm5.staticflickr.com/4208/34990155554_1525c777f5_o.gif" width="200" height="200" alt="loading">
  <span id="loader-text"> If we'll find the place, we'll prepopulate as many fields as possible.</span>
</div>
