<% content_for :head do %>
  <title><%= @apartment.name %>, <%= @apartment.city.name %> | Belooga - Accommodations for digital nomads></title>
  <meta name="description" content="<%= @apartment.description %>"/>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6Xw3W4DoiFJ_HvBgpcCMaz7KOEWivtUw"></script>
<% end %>

<div class="container">
  <div class="row">
    <% if current_user && current_user.admin? || current_user == @apartment.user %>
      <div class="col-1 offset-11 pull-right">
        <a href="<%= edit_apartment_path(@apartment)%>"><i class="fa fa-pencil-square" aria-hidden="true" style="margin-top: 30px; font-size: 38px;"></i></a>
      </div>
    <% end %>
    <div class="slider-container">
      <div id="apartment-slideshow" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <% (@apartment.pictures.length - 1).times do |i| %>
          <li data-target="#carouselExampleIndicators" data-slide-to="<%= i+1 %>"></li>
        <% end %>
      </ol>
      <div class="carousel-inner" role="listbox">
        <% if @apartment.user %>
          <span class="uploaded-by-container">
            <% if current_user && current_user.admin? %>
              Uploaded By: <%= @apartment.user.email %>
            <% else %>
              Uploaded By: <%= @apartment.user.name %>
            <% end %>
            <% if @apartment.user.picture %>
              <img class="img-thumbnail" style="height:50px; width: 50px;" src="<%= @apartment.user.picture.image.url %>">
            <% end %>
          </span>
<!--           <span class="say-thanks" data-toggle="tooltip" data-placement="right", title='Say "Thanks" to <%= @apartment.user.name %>''>
              <i class="fa fa-thumbs-up" aria-hidden="true"></i><br>
          </span> -->
        <% end %>
        <div class="social-share-box">
          <div class="addthis_inline_share_toolbox_o5pu"></div>
        </div>
        <div class="addthis_inline_share_toolbox social-share-box"></div>
        <% if @apartment.pictures != [] %>
          <% @apartment.pictures.each do |picture|%>
            <% if picture.front? %>
              <div class="carousel-item active">
                <% if picture.direct_uri %>
                  <a href="<%= picture.direct_uri %>"  data-lightbox="apartment">
                    <div style="background-image: url('<%= picture.direct_uri %>'); background-size: cover; height: 100%; width: 100%;    background-position-y: bottom;"></div>
                  </a>
                <% else %>
                  <a href="<%= picture.image.url %>"  data-lightbox="apartment">
                    <div style="background-image: url('<%= picture.image.url %>'); background-size: cover; height: 100%; width: 100%;    background-position-y: bottom;"></div>
                  </a>
                <% end %>
              </div>
            <% else %>
              <div class="carousel-item">
                <% if picture.direct_uri %>
                  <a href="<%= picture.direct_uri %>"  data-lightbox="apartment">
                    <div style="background-image: url('<%= picture.direct_uri %>'); background-size: cover; height: 100%; width: 100%;    background-position-y: bottom;"></div>
                  </a>
                <% else %>
                  <a href="<%= picture.image.url %>"  data-lightbox="apartment">
                    <div style="background-image: url('<%= picture.image.url %>'); background-size: cover; height: 100%; width: 100%;    background-position-y: bottom;"></div>
                  </a>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% else %>
          <div class="carousel-item active">
            <a href="//s3.eu-west-2.amazonaws.com/belooga/Images/image-missing.png"  data-lightbox="apartment">
              <div style="background-image: url('//s3.eu-west-2.amazonaws.com/belooga/Images/image-missing.png'); background-size: cover; height: 100%; width: 100%;    background-position-y: bottom;"></div>
            </a>
          </div>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#apartment-slideshow" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#apartment-slideshow" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    </div>
  </div>
  <div class="row quick-info-bar shadow">
    <div class="col-4 text-center">
      <i class="fa fa-bed" aria-hidden="true"></i><br>
      <span><%= @apartment.bedrooms %> Beds</span>
    </div>
    <div class="col-4 text-center">
      <i class="fa fa-dollar" aria-hidden="true"></i><br>
      <span><%= @apartment.avg_price %>$/month</span>
    </div>
    <div class="col-4 text-center">
      <i class="fa fa-home" aria-hidden="true"></i><br>
      <span><%= @apartment.apartment_type %></span>
    </div>
  </div>
  <section class="apt-show-section">
    <div class="row">
      <div class="col-12">
        <h1 class="apartment-name">
          <%= @apartment.name %>
          <% if @apartment.wifi_speed %>
            <img class="rounded-circle" style="height:100px; width: auto;" src="<%= @apartment.wifi_speed.badge %>">
          <% end %>
          <% if @apartment.home_owner %>
            <img style="height:100px; width: auto;" src="https://farm5.staticflickr.com/4398/36296947521_2d6f00d98c_o.png">
          <% end %>
        </h1>
      </div>
      <div class="col-12">
        <span class="apartment-description"> <%= @apartment.description %> </span>
      </div>
    </div>
  </section>
  <section class="amenities-info apt-show-section">
    <div class="row">
      <div class="col-12 pull-left">
        <h4> Amenities</h4>
        <div class="row amenity-list">
          <% @apartment.amenities.each_with_index do |amenity, index| %>
            <div class="col-6 amenity">
              <span><i class="<%= amenity.icon %>"></i> &nbsp; <%= amenity.name %></span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
  <section class="workfrom apt-show-section">
    <div class="row">
      <div class="col-12 pull-left">
        <h4> Where To Work From </h4>
        <p> powered by <a href="//workfrom.com" target="_blank"> Workfrom.co </a></p>
      </div>
    </div>
  </section>
  <section class="contact-info apt-show-section">
    <div class="row">
      <div class="col-12 pull-left">
        <h4> Contact Details</h4>
      </div>
      </br>
      <div class="col-12 pull-left">
        <button class="btn btn-primary shadow" data-toggle="modal" data-target="#contact-modal" style="margin-top: 30px"> Show me how to contact the owner </button>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-12">
        <div id="map-canvas" class="text-center" style="height: 400px; margin-bottom: 30px; margin-top: 30px;">
      </div>
    </div>
  </section>
  <% if current_user %>
    <section>
      <div class="row">
        <div class="col-12">
          <%= render "disqus" %>
        </div>
      </div>
    </section>
  <% end %>
</div>

<!-- Modal -->
<div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header shadow text-center">
        <h6 class="modal-title" id="exampleModalLabel">Home owner contact details</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <div class="row">
          <div class="col-12 pull-left">
            <h5> <i class="fa fa-map-signs"></i> Address</h5>
          </div>
          <div class="col-12 pull-left">
            <p class="address"> <%= @apartment.address %></p>
          </div>
          <% @apartment.contacts.each do |contact| %>
            <div class="col-12 pull-left">
              <h5> <i class="<%= contact.icon %>"></i> <%= contact.contact_type %></h5>
            </div>
            <div class="col-12 pull-left">
              <%= contact.html.html_safe %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>




<script>
  var map;
  var address = "<%= @apartment.address %>";
  var geocoder = new google.maps.Geocoder();
  var mapOptions = {
    zoom: 8,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);


  geocoder.geocode( { 'address': address}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      gifUrl="//s3.eu-west-2.amazonaws.com/belooga/Images/giphy.gif"
      let html = "<h4> Oops! Address Not Found!</h4>"
          html+= "<img src="+gifUrl+" style='height: 400px; width:400px;'>"
      $('#map-canvas').html(html);
    }
  });

  $("a[href='#map']").on('shown.bs.tab', function (e) {
    google.maps.event.trigger(map, 'resize');
  })
  $('#map-canvas').append('<a href="https://maps.google.co.uk/maps?saddr=current location&daddr=<%= @apartment.address %>" class=\'btn btn-primary btn-directions\' target=\'_blank\'>Need help getting there?</a>');

</script>
