<!DOCTYPE html>
<html>
  <head>
    <title>Belooga Dashboard</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'shared/admin_navbar' %>

      <!-- Main Content -->
      <div class="container-fluid">
          <div class="side-body">

            <!--Alerts for Devise -->
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>

            <%= yield %>

          </div>
      </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script>
    $(function () {
      $('.navbar-toggle').click(function () {
          $('.navbar-nav').toggleClass('slide-in');
          $('.side-body').toggleClass('body-slide-in');
          $('#search').removeClass('in').addClass('collapse').slideUp(200);

          /// uncomment code for absolute positioning tweek see top comment in css
          //$('.absolute-wrapper').toggleClass('slide-in');

      });

     // Remove menu for searching
     $('#search-trigger').click(function () {
          $('.navbar-nav').removeClass('slide-in');
          $('.side-body').removeClass('body-slide-in');

          /// uncomment code for absolute positioning tweek see top comment in css
          //$('.absolute-wrapper').removeClass('slide-in');

      });
    });
    </script>

  </body>
</html>
