<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WKJ3JR5');</script>
    <!-- End Google Tag Manager -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <%= favicon_link_tag 'https://s3.eu-west-2.amazonaws.com/belooga/Images/favicon-32x32.png' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Pacifico|Raleway|Montserrat' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6Xw3W4DoiFJ_HvBgpcCMaz7KOEWivtUw&libraries=places"></script>
    <%= render 'shared/ga' %>
    <%= yield :head %>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WKJ3JR5"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <%= render 'shared/navbar' unless @disable_partials %>

      <%= yield %>

    <!-- Modal -->
    <div class="modal fade" id="city-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header shadow text-center">
            <h6 class="modal-title" id="exampleModalLabel">Where do you want to live?</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center">
            <div class="form-group">
              <%= text_field_tag "city", nil, class: "form-control select-city", placeholder: "Name"  %>
              <!-- <%= select_tag "city", options_for_select(City.all.map{|city| city.name.capitalize }), { :class => 'select-city form-control', :style => "max-width: 100%", include_blank: true}%> -->
            </div>
          </div>
          <div class="modal-footer">
            <%= link_to "Bring Me There!", apartments_path(), :class => "btn btn-default modal-city-btn" %>
          </div>
        </div>
      </div>
    </div>

    <%= render 'shared/footer' unless @disable_partials %>
    <!-- Go to www.addthis.com/dashboard to customize your tools --> <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-59012c959cc765cc"></script>
    <!-- MailerLite Universal -->
<script>
(function(m,a,i,l,e,r){ m['MailerLiteObject']=e;function f(){
var c={ a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);}
f.q=f.q||[];m[e]=m[e]||f.bind(f.q);m[e].q=m[e].q||f.q;r=a.createElement(i);
var _=a.getElementsByTagName(i)[0];r.async=1;r.src=l+'?v'+(~~(new Date().getTime()/1000000));
_.parentNode.insertBefore(r,_);})(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');

var ml_account = ml('accounts', '728767', 'z0p6w9o5m5', 'load');
</script>
<!-- End MailerLite Universal -->
    <script type='text/javascript' data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: 'cc974383-ae94-4eb4-b77e-d3de642212e6', f: true }); done = true; } }; })();</script>
  </body>
</html>
